[2021-06-17 14:57] joshmoore commented on #764
* A pro of a team is it lets people remove themselves
* A pro of individuals is better visibility of additions/removals

[2021-06-17 16:20] shikharsg commented on #764
Although I'm happy to be listed as an individual, I would personally prefer a team. Having changed jobs a few months ago I no longer have access to a large azure subscription where I can test this stuff at scale, and have to make do with my laptop.

[2021-06-18 13:58] SangkyunLee opened #784 "Fail to synchronize"
For bug reports, please follow the template below. For enhancement proposals, feel free
to use whatever template makes sense (major new features should be discussed in the
Zarr specifications repository https://github.com/zarr-developers/zarr-specs).

#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description
When using dask delayed module to simu

[2021-06-18 15:38] joshmoore opened #785 "Re-activate bench/compress_normal.py"
Note that https://github.com/zarr-developers/zarr-python/pull/752/commits/edc8b251f0c87bd8f20c243ca1b28b3d76169649 needed to disable `bench/compress_normal.py` since an update of `line_profiler` is leading to an odd failure (variable `a` is not being found)

Perhaps this could be updated with something that benchmarks on each commit? (@jacksonmaxfield?)

_Originally posted by @joshmoore in https:/

[2021-06-18 16:30] jakirkham commented on #777
Yeah. Not that I could see. I'm not sure

[2021-06-18 16:43] jakirkham commented on #777
Actually I guess their recommendation is delete the fork and refork. Not ideal, but maybe worth trying

[2021-06-19 14:27] joshmoore commented on #764
@zarr-developers/azure-team now setup.

[2021-06-19 18:41] d-v-b commented on #769
What about a length-2 tuple containing the array key and the chunk key, e.g. `('path/to/array/', '0.0.0')` vs `('path/to/array/', '0/0/0')`? This is explicit enough to allow the chunk renaming I need for n5.

[2021-06-21 13:35] joshmoore commented on #769
In terms of new APIs that would certainly work for me, but it would be a pretty significant change.

[2021-06-21 21:49] martindurant commented on #775
Yes, please fix to pass the kwargs!

[2021-06-21 21:53] martindurant commented on #767
Note that fsspec uses asyncio to fetch multiple chunks concurrently, so this can greatly increase performance by setting each dask partition to be larger than the zarr chunksize.

[2021-06-23 18:10] jakirkham commented on #777
Ok took the plunge and deleted my fork and reforked. Hopefully I haven't broken things too badly on my end. Will see if that fixes it

[2021-06-24 07:04] joshmoore commented on #777
Wow. Thanks for taking one for the team. Keep us posted.

[2021-06-24 08:06] jakirkham commented on #777
IPython helped make it easier to sync everything locally 😄

No PRs yet 🍀

[2021-06-24 19:54] shoyer commented on #247
A use-case for this feature has come up for us when writing to Zarr from jobs that may occasionally be pre-empted, e.g., using pre-emptible VMs on Google Cloud. This is generally very cost effective, but does mean that jobs need to be robust to being restarted at any time. Atomic writes for individual files are helpful, but ideally we would also like to either write the full Zarr store, or nothing

[2021-06-28 16:46] DennisHeimbigner commented on #769
WRT to the netcdf-c implementation of dimension separator.
1. Internally, I end up breaking the chunk key into two parts as mentioned above. Effectively (/a/b/a, 0D0D0) where D is the dimension separator.
2. I have to use a heuristic to figure out what part of the key is the chunk id. That heuristic looks for the trailing occurrence of [0-9]+D[0-9]+D... where D is the dimension sep. This has the b

[2021-06-29 17:41] satra commented on #535
just a quick update here, the h5py library now includes support for the ros3 driver. so potentially one could use that to create the `.zmetadata` and pass it on to zarr.

[2021-06-30 18:25] joshmoore commented on #769
@d-v-b: sorry, I've been failing to find the time to really engage here, however the `/`-community is still quite broken. Do you have a branch/repository that I could test against my https://github.com/zarr-developers/zarr-python/pull/773 and see if I can find a nice workaround for the N5 side of things?

@DennisHeimbigner : thanks for the info. If we're willing to break the API, then yet, I defin

[2021-06-30 18:32] DennisHeimbigner commented on #769
Actually splitting the key occurs completely internally, so the user never sees it.
As I mentioned, the price is that certain variable names become "illegal".

[2021-07-02 16:28] d-v-b commented on #769
@joshmoore I will put together a branch that you can test against. And I think I figured out a stupid hack that lets a store infer the key separator even if it changes on the array side.

To summarize this issue as I understand it:

- different dimension separators are good for different storage backends.
- It seems like "/" is better for most (but not all) storage backends than ".".
- As far as I

[2021-07-02 16:31] martindurant commented on #769
The obvious one would be an attempt to move (or copy) the dataset/file hierarchy from one storage system to another. Such a move is not necessarily made by a thing that has any knowledge of zarr and its conventions.

[2021-07-02 16:45] joshmoore commented on #769
:100:

At least at a specification level, this is neither the case in V2 nor V3 currently. It's an array concern.

`root.zarr` is not necessarily a group but can be an array, which is another way of saying that in v2 there's no clear place for such store-level metadata.

[2021-07-09 01:28] wtbarnes commented on #544
I am using v2.6.1 for an upcoming paper, but it looks like the latest citable DOI on Zenodo is v2.5. Did something happen to the Zenodo/GitHub integration?

[2021-07-09 13:27] joshmoore commented on #544
Hi @wtbarnes. Argh, you're right. There does look to be an issue or two. The releases are not being auto-generated, which I can fix manually, but even for those (like https://github.com/zarr-developers/zarr-python/releases/tag/v2.6.1) the Zenodo link hasn't yet been created. I'll give it a bit to catch up, and open an issue if Zenodo doesn't catch up.

[2021-07-12 08:51] joshmoore commented on #544
@wtbarnes: Manually creating a release *does* work. https://zenodo.org/record/5085171#.YOwCEhMzb0o now exists. It looks like the link back *doesn't* get updated in the release page as it did previously. If anyone knows how to make that work, I'm all ears. I'll generate the rest of the releases asap.

[2021-07-22 09:28] clbarnes commented on #769
Just chiming in with some related unexpected behaviour:

1. create a container with `zarr.open(NestedDirectoryStore("path/to/container.zarr"))`, and write some arrays (which therefore have `"dimension_separator": "/"` in their metadata)
2. open it again with `zarr.open("path/to/container.zarr")`. Based on `normalize_store_arg`, this opens a default `DirectoryStore`, i.e. `dimension_separator="."`

[2021-07-27 22:13] jakirkham commented on #544
Someone just created a citation tool for GitHub

https://mobile.twitter.com/natfriedman/status/1420122675813441540

[2021-07-30 16:48] rabernat commented on #392
For some reason, I have been thinking about this instead of doing other more important things like sleeping.

I think I have come up with a scalable algorithm that should work to compute a single hash for a large chunked ndarray that is independent of on-disk chunk size. This algorithm presumes that you are working with dask or a similar parallel computing framework that has the ability to rechunk

[2021-08-03 08:14] joshmoore commented on #544
:+1: Does anyone have an example that fits the current zarr-python model (citation via zenodo DOI)?

[2021-08-03 09:35] joshmoore opened #804 "Update (or automate) acknowledgements"
<img width="691" alt="Screen Shot 2021-08-03 at 11 34 35" src="https://user-images.githubusercontent.com/88113/127993583-3dad157b-2e8d-470e-825d-00110b2d4fd8.png">

see: https://zarr.readthedocs.io/en/master/#acknowledgments

[2021-08-09 03:19] abergou opened #806 "Exceptions when creating an array that has an object"
I noticed two issues:
1. Zarr raises an exception when attempting to create an array with a structured dtype that contains an object.

[code]

I think that the issue is in the functions `encode_fill_value` and `decode_fill_value`. A structured dtype that contains an object reports its kind as 'V' so zarr encodes it using standard_b64encode, but if `dtype.has_object` is true then it should first pi

[2021-08-09 10:06] joshmoore commented on #764
https://github.com/zarr-developers/zarr-python/pull/781 is ready for review if someone wants to have a go.

[2021-08-09 10:17] joshmoore commented on #806
@abergou: and just to confirm, does passing `data=` at the time of creation work for you?

[2021-08-09 12:48] abergou commented on #806
Thanks for the quick reply @joshmoore!

Where do I pass in `data=`? I don't see it as an argument to `Group.create`. If I simply pass it into `foo.create` then I get back the same error as before:
[code]

Quick note: I fixed up the second reproducer I had above. I had a copy paste error that I didn't notice before.

[2021-08-09 12:55] joshmoore commented on #806
This was an example that _was_ working for me:

[code]

[2021-08-09 13:11] abergou commented on #806
Ah thanks! I missed the `Group.array` method. For me using the data input leads to the same issue MetadataError:
[code]

[2021-08-09 13:17] abergou commented on #806
One more issue that is also related to the above: for some object arrays zarr can silently change the object type in the array:
[code]

[2021-08-11 20:01] thewtex commented on #769
Another +1 and thanks to @joshmoore for #773, which addressed the behavior I observed when trying to use `DirectoryStore` and `dimension_separator='/'` with `zarr` and `xarray`.

Are there plans to integrate #773?

[2021-08-17 11:59] rabernat commented on #713
I started playing with this today. As a first step, I am just trying to implement encoding / decoding of numpy data into caterva, as needed by numcodecs.

But immediately I hit a roadblock. I can't figure out how to get the encoded bytes / buffer out of caterva. For example to encode an array, I am doing

[code]

The `c.to_buffer()` method returns the _uncompressed_ data. I could persist the cater

[2021-08-18 23:27] camFoltz opened #809 "Read Only array upon default opening"
For bug reports, please follow the template below. For enhancement proposals, feel free
to use whatever template makes sense (major new features should be discussed in the
Zarr specifications repository https://github.com/zarr-developers/zarr-specs).

#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

I am trying to create a zarr store co

[2021-08-19 06:50] joshmoore commented on #809
Hi @camFoltz. I don't know of a zarr-specific mechanism for recording the read-only setting. As a workaround, have you looked at making it read-only at the underlying storage level?

[2021-08-19 14:10] joshmoore commented on #769
After [a lengthy back and forth](https://github.com/zarr-developers/zarr-python/pull/773#issuecomment-901931941), I think this is a last call for opinions on the fix. I'd propose to get it out in `2.9.0` (noting that that also drops support for Python 3.6)

[2021-08-20 13:33] #769 closed

[2021-08-20 15:44] abergou commented on #806
@joshmoore I actually have a patch for this that I'll submit a pull request for imminently.

[2021-08-20 17:55] camFoltz commented on #809
Hi @joshmoore , thanks for the response.  If zarr has no specific mechanism then we will move to dealing with it at the permission level.

[2021-08-20 20:31] joshmoore commented on #806
:100:

[2021-08-21 19:14] FrancescAlted commented on #713
AFAIK we have not implemented yet an accessor to the compressed data in python-caterva, but even if we did, I am afraid that you couldn't immediately leverage it because Caterva uses [C-Blosc2 frames](https://github.com/Blosc/c-blosc2/blob/main/README_CFRAME_FORMAT.rst) so as to store the compressed data, plus the metalayer for dimensionality.  Then, frames contain the [C-Blosc2 chunks](https://gi

[2021-08-22 21:10] tasansal commented on #775
@martindurant, Created PR #814 to handle this issue.

[2021-08-23 08:45] QuLogic opened #817 "fsspec tests are not auto-skipped in test_dim_separator"
#### Problem description

Unlike other test files, the fsspec tests are not skipped in `test_dim_separator.py` automatically if it's not available.

#### Version and installation information

Please provide the following:

* Value of ``zarr.__version__`` 2.9.0
* Value of ``numcodecs.__version__`` 0.9.0
* Version of Python interpreter 3.10.0rc1
* Operating system (Linux/Windows/Mac) Fedora Rawhide

[2021-08-23 08:48] joshmoore commented on #817
Thanks, @QuLogic. Good catch. The danger of _always_ relying on `fsspec` in my local environment. :wink:

[2021-08-23 13:13] rabernat commented on #713
Thanks for the tips Francesc. It sounds like we will probably have to create a cython wrapper for Caterva in numcodecs, similar to what we currently [do with Blosc](https://github.com/zarr-developers/numcodecs/blob/master/numcodecs/blosc.pyx).

Understanding how to best leverage Caterva for Zarr is going to be a bit trickier than I hoped, because the Numcodecs API only defines `decompress_partial`

[2021-08-23 13:57] rabernat commented on #775
I am reviewing #814 and wanted to follow up with a question here.

_Isn't this a bug with fsspec?_  The fact that this works with one FSSpec implementation (`LocalFileSystem`) but not others (gcsfs, s3fs) suggests a problem with those implementations. Working around that bug in zarr-python creates technical debt here.

Is there upstream fix possible.

[2021-08-23 14:42] tasansal commented on #775
@rabernat

Let me verify that it still works as expected on a `LocalFileSystem` when write-permission is not enabled.

If it works as expected, I agree, we should probably put a fix in `fsspec`.

[2021-08-23 20:30] joshmoore commented on #817
Looks like this is also the cause of the failure in https://github.com/conda-forge/zarr-feedstock/pull/48

[code]

[2021-08-24 10:18] #817 closed

[2021-08-24 10:22] joshmoore opened #820 "Include fsspec in conda-forge testing?"
See:
 * https://github.com/conda-forge/zarr-feedstock/pull/48
 * #819

The 2.9.0 tag of zarr-python failed to build on conda-forge since [fsspec tests weren't skipped everywhere](https://github.com/zarr-developers/zarr-python/issues/817) and conda-forge installs only a minimal environment.

Either we should test the same environment in this repo or update the conda-forge metadata to install more r

[2021-08-24 17:09] jrbourbeau commented on #820
FWIW over in Dask we have a few minimum dependencies builds which have been useful to ensure that things run with our specified minimum set of dependencies (both in terms of the set of packages installed as well as the minimum supported versions). This CI build has caught a number of subtle breakages that would have otherwise mostly likely gone unnoticed

[2021-08-25 07:00] joshmoore commented on #765
Released as 2.9.0

[2021-08-25 07:00] #765 closed

[2021-08-25 16:11] ssanderson commented on #278
I hit this issue with exactly this same use-case today. I'm trying to use a zarr array to store data that's used to train a tensorflow model, and I want to be able to stream data from the array in a (pseudo-)random. The data I'm using is relatively compressible, so it would be nice to be able to use a compression filter, but the overhead of decompressing each block is prohibitive right now. I was

[2021-08-28 09:06] mcepl opened #825 "test_storage.py::TestFSStore::test_create fails"
When packaging zarr 2.9.3 for  running the test suite it fails in test_storage.py::TestFSStore::test_create:
[code]
If could be Python 3.9 issue (hello, #629 !), but I think it should be unstable API of whatever package provides `self.fs.cat`.

#### Version and installation information

Please provide the following:

* Value of ``zarr.__version__`` 2.9.3
* Value of ``numcodecs.__version__`` 0.7.3

[2021-08-28 09:57] joshmoore commented on #825
I assume there's no easy way to avoid the use of `fsspec-2021.7.0-1.1`?

cc: @martindurant

[2021-08-28 10:02] mcepl commented on #825
I am sorry, but no. We try to have as recent packages as possible and unless it is a super-important package we won't hold whole distribution back.

[2021-08-28 10:40] mcepl commented on #825
Apparently a duplicate of #812.

[2021-08-30 18:45] joshmoore commented on #418
Fixed by #813 (v2.9.4)

[2021-08-30 18:45] #418 closed

[2021-08-30 18:45] joshmoore commented on #806
Closed by #813 (v2.9.4)

[2021-08-30 18:45] #806 closed

[2021-08-30 21:08] abergou commented on #806
Thanks @joshmoore !

[2021-09-01 08:26] joshmoore commented on #825
Fixed by #802 (v2.9.5)

[2021-09-01 08:26] #825 closed

[2021-09-01 08:47] clbarnes commented on #601
Released in 2.9.0: https://zarr.readthedocs.io/en/stable/release.html#enhancements

[2021-09-01 08:47] #601 closed

[2021-09-01 08:49] clbarnes commented on #261
Basic support was released in 2.9.0: https://zarr.readthedocs.io/en/stable/release.html#enhancements

I think this can be closed unless there's desire to base more of the internals on `Path`s.

[2021-09-01 08:56] joshmoore commented on #261
Thanks, @clbarnes!

[2021-09-01 08:56] #261 closed

[2021-09-02 14:33] clbarnes commented on #809
While there isn't (and probably shouldn't be, for simplicity purposes) a mechanism for storing the default access mode on individual containers/ groups/ arrays, would changing the global default mode to `"r"` be considered in the next major version? h5py did that (somewhat) recently; it would more closely match python's built-in `open`, and in a post-v3 world where different stores may be readable

[2021-09-02 14:43] joshmoore commented on #809
@clbarnes :  *nods* and I seem to remember a store (`FSStore`) recently switching its local default. I'll try to find that commit/PR.

[2021-09-08 18:54] jakirkham opened #828 "Implementing `ZipStore`'s `__delitem__` via overwrite"
Currently [`ZipStore`'s `__delitem__` `raises` `NotImplementedError`]( https://github.com/zarr-developers/zarr-python/blob/4e98567761cb557a76d9f05ab7cae6cc13f89266/zarr/storage.py#L1513-L1514 ), which is a bit awkward to workaround at higher levels since `__delitem__` is usually implemented in other stores. The reason this isn't implemented in `ZipStore` is zip files lack the ability to delete mem

[2021-09-09 15:50] joshmoore opened #829 "Generate changelogs from fragements"
e.g. https://github.com/ansible-community/antsibull-changelog/blob/main/docs/other-projects.rst

At the moment, PRs regularly conflict due to conflicts to release.rst. By moving to a fragment based system, this _should_ go away.

Any other recommendations for frameworks?

[2021-09-10 11:54] grlee77 commented on #829
[Towncrier](https://towncrier.readthedocs.io/en/actual-freaking-docs/) is used by NumPy and we are considering it for scikit-image

[2021-09-10 16:17] joshmoore commented on #829
Had looked at that one previously as well. :+1: All the better if your experiences have been good.

[2021-09-10 16:44] grlee77 commented on #829
We have a draft PR and were planning to start using it in the near future, so I don't have much experience with it yet. I was not aware of the ansible one you linked above, but it sounds like something similar.

Another approach that SciPy has used in the past is having contributors update a wiki page that the release manager can then pull from when making the release notes. I'm not sure how consi

[2021-09-11 19:27] tasansal commented on #536
@shoyer I have a question about this.

I am currently fetching 500 GB to 2 TB chunked datases (~1MB chunks). Running on a 48 physical 96 logical core machine.

I am using `dask` with a larger chunksize than the underlying array. i.e. from ~1MB chunks to ~100MB chunks. So each `dask` task should pull multiple chunks?

One thing I noticed is if I run a `dask.Client` with ONLY threads (i.e. Client(n_

[2021-09-11 19:32] jakirkham commented on #536
@tasansal can you please raise a new issue? Also please include a minimal reproducer

[2021-09-11 19:34] tasansal commented on #536
@jakirkham, of course, wasn't sure if it should be an issue of its own. Will do that.

[2021-09-11 21:52] jakirkham commented on #536
Thanks! It just makes it easier for us to keep track of these things :)

[2021-09-12 14:37] joshmoore commented on #829
I'd hope it'd be easy enough to add an action that says, "must have fragment". Worst case: we can push it to the PRs manually. :wink:

[2021-09-13 12:30] aeisenbarth opened #831 "Explicitely specified dimension_separator conflicts with default"
When using convenience methods with a path/url, specifying the dimension separator causes an error.

#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

`normalize_store` turns the path/url string into a store object with `_dimension_separator` defaulting to None. The check for conflicts does not take into account that any value other than

[2021-09-13 12:51] joshmoore commented on #831
Thanks, @aeisenbarth. I notice with some chagrin that there's not a single test for `save_array` of any kind! I'll look into opening a PR.

[2021-09-17 19:01] #831 closed

[2021-09-17 19:01] joshmoore opened #834 "Further relax dim_sep mismatch check"
see: https://github.com/zarr-developers/zarr-python/pull/832

With full support for multiple dimension_separators per .zarrays, there may be no need to detect a mismatch between arrays and the store settings.

[2021-09-21 19:01] #820 closed

[2021-09-22 12:36] joshmoore commented on #216
slightly related that several fixes to object arrays were in #806
cc: @abergou

[2021-09-22 12:36] joshmoore commented on #214
This is largely covered now by FSStore, no?

cc: @martindurant

[2021-09-22 12:41] joshmoore commented on #76
Nothing is broken as far as I can tell.

[2021-09-22 12:41] #76 closed

[2021-09-22 12:53] martindurant commented on #214
Yes, zarr can essentially do what dask was starting to do when this conversation was still live. Dispatch happens via fsspec if the URI looks fsspec-lke ("protocol://path"), we don't dispatch to any of the other storage types.

[2021-09-22 13:02] joshmoore commented on #728
@d-v-b : is this still an issue?

[2021-09-22 13:05] joshmoore commented on #693
Still an issue? And with @d-v-b's new version?

[2021-09-22 13:06] joshmoore commented on #707
I consider the `dimension_separator` saga complete! _whew_

[2021-09-22 13:06] #707 closed

[2021-09-22 13:07] AdemFr commented on #714
@joshmoore Unfortunately not, sorry

[2021-09-22 13:09] joshmoore commented on #573
Closing this in favor of #600

[2021-09-22 13:09] #573 closed

[2021-09-22 13:14] joshmoore commented on #553
Anything you still want to discuss here, @jsheedy?

[2021-09-22 13:55] d-v-b commented on #693
I would guess that this is an issue in my version, but it should be simple to fix.

[2021-09-22 14:44] joshmoore commented on #395
With the `dimension_separator` epic complete (https://github.com/zarr-developers/zarr-python/issues/707), nested cloud storage is now possible with the FSStore implementation. The default value has not been changed, but can be passed on creation. The setting will be stored in the `.zarray` metadata.

[2021-09-22 14:44] #395 closed

[2021-09-22 14:48] joshmoore commented on #540
@d-v-b: would you like to do the honors?

[2021-09-22 15:06] d-v-b commented on #540
this should be addressed by #793

[2021-09-22 15:13] joshmoore commented on #322
@jakirkham, I'm closing this based on https://github.com/zarr-developers/zarr-python/pull/734 but feel free to re-open if I'm mistaken.

[2021-09-22 15:13] #322 closed

[2021-09-22 15:14] joshmoore commented on #301
So looking back: the goal of this issue would be roughly equivalent to making FSStore the default?

[2021-09-22 15:17] jakirkham commented on #322
Of course. Thanks Josh! 😄

[2021-09-22 15:22] joshmoore commented on #281
@phamnam95: were you successful with this? I'd likely close just this issue, but if it's worthwhile, we could capture this as an example in the documentation.

[2021-09-22 15:24] jakirkham commented on #76
If we find something broken, we can always revisit 🙂

[2021-09-22 15:25] #281 closed

[2021-09-22 16:21] jsheedy commented on #553
Thanks for following up!

I ended up using a similar version of this interface in an API service which required fast responses from a collection of Xarray weather datasets in S3 using Redis as the cache. Each application server benefits from Zarr chunks which have been populated in the shared Redis cache, meaning hot data is served fast and cold data is served at an accepable rate. It's been worki

[2021-09-22 17:13] rabernat commented on #553
This sounds so cool and extremely broadly useful for Pangeo deployments across the internet. I recently wrote a [forum post](https://discourse.pangeo.io/t/idea-cdn-for-pangeo-cloud-data/1731) wishing for something exactly like this.

Do you have anything written up about this project? Could I convince you to give a talk about it at the [Pangeo Showcase](https://pangeo.io/pangeo-showcase.html).

[2021-09-22 17:29] jsheedy commented on #553
That's a great post, leveraging CDNs for lower level things like Zarr chunks could be interesting. Our needs are totally aligned on `I should never have to pull the data across the cloud boundary more than once in a single session.` Are you looking for a general solution beyond Zarr chunks?

I haven't written anything up about this project yet, but Pangeo Showcase sounds like a good forum in which

[2021-09-22 17:35] joshmoore commented on #540
:100:

[2021-09-22 17:35] #540 closed

[2021-09-22 18:44] jakirkham commented on #713
Raised issue ( https://github.com/intake/filesystem_spec/issues/766 ) about supporting range queries in `fsspec`. That seems relevant here, but still thinking through exactly how we would use that

[2021-09-22 20:09] jakirkham commented on #551
Guessing that is referring to PR ( https://github.com/zarr-developers/zarr-python/pull/813 ) in Zarr 2.9.4+

[2021-09-27 07:15] joshmoore commented on #804
see also: https://github.com/all-contributors/all-contributors

[2021-09-28 11:38] abred opened #840 "zarr 2.10.0 fails to load pre-existing nested files"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]
output with zarr 2.10.0:
array([[1., 1.],
       [1., 1.]])
0

output with zarr 2.3.0:
array([[1., 1.],
       [1., 1.]])
6733

#### Problem description

With the current version of zarr (2.10.0) pre-existing zarr files using NestedDirectoryStore are all zero when read.
With an older version (tested with 2.3.0) the

[2021-09-28 15:21] d70-t opened #841 "normalize_keys regression in version 2.10.0"
In dca87fcb (#793), the `normalize_keys` parameter default of `FSStore` has been changed back to from `False` to `True` ([see here](https://github.com/zarr-developers/zarr-python/blob/dca87fcbe96ff3be5d74e662815ecb5e67ce9b28/zarr/storage.py#L1072)). This reverts #755 and recreates the issue of #739.

I didn't find a comment on this in the commit message and believe this was done by accident.

[2021-09-28 15:27] joshmoore commented on #841
Thanks, @d70-t for all the sleuthing, and sorry if I let something slip through. @d-v-b: can you say if it was intentional or not?

[2021-09-28 15:50] d-v-b commented on #841
see #842

[2021-09-30 20:10] cgohlke opened #843 "Poor performance when slicing with steps"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]
Output:
[code]

#### Problem description

Consider the minimal Zarr store posted above, which models the storage of a ~27 GB RGB image as individual scanlines/chunks in a TIFF file (`shape=(149568, 66369, 3)`, `chunks=(1, 66369, 3)`, `dtype='uint8'`). The store does no I/O and returns a pre-allocated chunk in `__ge

[2021-10-02 05:44] QuLogic opened #844 "test_format_compatibility fails on big-endian systems"
#### Problem description

When running on a big-endian system, `test_format_compatibility` fails due to an endian mismatch.

[code]

#### Version and installation information

Please provide the following:

* Value of ``zarr.__version__``: 2.10.1
* Value of ``numcodecs.__version__``: 0.9.1
* Version of Python interpreter: 3.9.7
* Operating system: Fedora 34
* How Zarr was installed (e.g., "using p

[2021-10-05 11:58] ludwigVonKoopa commented on #582
Tested on version zarr==2.8.1, there is no probleme anymore.

Closing this issue.

[2021-10-05 11:58] #582 closed

[2021-10-05 17:39] jakirkham commented on #582
Thanks for the update 😄

[2021-10-06 10:27] lnicola commented on #518
Another use case for direct chunk access: at one point, we'd like to stack multiple arrays into a single one without loading all of it into memory. With a chunk size of 1 in that direction, this can be trivially done by copying or moving files on disk. But if we want to use a different chunk size, that's no longer possible.

An API to read/write a chunk given an index would greatly help here. I su

[2021-10-06 18:43] #841 closed

[2021-10-08 09:15] fAndreuzzi commented on #629
I tried to work on the problem but I could not find the Travis configuration file. Any hint?

[2021-10-09 11:10] fAndreuzzi commented on #757
@d-v-b Thank you very much for the hints!

[2021-10-18 07:36] olusanwo commented on #514
Hi @joshmoore , I am from outreachy, Is this documentation task still available, can I take it?

[2021-10-18 09:46] joshmoore commented on #514
@olusanwo, sure! I'm sure everyone would look forward to a suggestion for this.

[2021-10-20 00:38] jni commented on #657
Closed by #725! 🎉

[2021-10-20 00:38] #657 closed

[2021-10-20 18:37] Codesuha commented on #629
What's this project about?
How does one contribute. Pls tell

[2021-10-20 19:18] joshmoore commented on #188
Hi @ShristiJain. I think based on the age that this is going to be a case of there being a solution in place.  For example, see the visit functions here: https://zarr.readthedocs.io/en/stable/api/hierarchy.html#zarr.hierarchy.Group.array_keys

Probably the best way forward is to try to write a very small example here on the issue that shows how one would print only groups matching a given name as

[2021-10-21 18:37] jakirkham commented on #188
FWIW here are the different [`visit` methods]( https://zarr.readthedocs.io/en/stable/api/hierarchy.html?highlight=visit#zarr.hierarchy.Group.visit ), which could be used to implement this. Would try creating a simple dataset locally and then see if you can write code using one of those methods to do this

[2021-10-21 20:06] oftfrfbf opened #857 "ProcessSynchronizer not process safe"
#### Minimal, reproducible code sample:
[code]
#### Output:
[code]
#### Problem description:
I am prototyping for some larger data processing that will happen in the cloud and have been testing Zarr's parallel computing and synchronization capabilities on my local machine. The synchronization tools are not process-safe as I would expect.

Below is a toy example that creates a Zarr-store utilizing

[2021-10-22 07:19] avalentino opened #858 "test_nested[static_flat] fails on Debian sid Python 3.9"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

The "test_nested[static_flat]" test fails in the current Debian sid with Python 3.9.
Of course one would expect that all automatic tests pass.

#### Version and installation information

* Value of ``zarr.__version__`` 2.10.2
* Value of ``numcodecs.__version__`` 0.8.1
* Version of Python

[2021-10-28 08:25] aaraney opened #862 "v2 specs ambiguity"
In the v2 zarr doc specs, the last sentence of the chunks section reads:

In content prior to this sentence, the only mention of a value that represents the absence of a value is `null`, in the context of the `fill_value`, `compressor`, and `filters`, keys. Having read the quoted sentence, I was a little puzzled on the meaning of _undefined_. Can someone clarify if _undefined_ is meant to be a new

[2021-10-29 18:43] aaraney commented on #862
@d-v-b Yes, that answers my question! Thanks for the clarification. Cheers!

[2021-10-29 18:43] #862 closed

[2021-11-01 16:29] mdickinson commented on #697
Still an issue with zarr 2.10.2:
[code]

[2021-11-01 19:01] jakirkham commented on #697
If you would like to work on a PR, that would be welcome 🙂

My guess is we can just add some logic to coerce NumPy integers to Python integers when receiving chunks (say through a utility function)

[2021-11-02 14:46] jcafhe commented on #857
Hi, I'm experiencing the same issue on Windows, zarr 2.10.2.

After digging a bit, It appears that the lock mechanism is done on a per chunk basis, in `Array._chunk_setitem` method.
https://github.com/zarr-developers/zarr-python/blob/5c71212ccf5abe9f8a5ab7996c5ce3abbbbd61e2/zarr/core.py#L1991-L1993

Maybe it should be done before, i.e. somewhere between calling `Array._setitem_` and `Array._set_se

[2021-11-04 17:22] elfring opened #864 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-05 15:41] joshmoore commented on #864
Thanks for the suggestion, @elfring. Are you up for opening the PR?

[2021-11-05 15:55] elfring commented on #864
:thought_balloon: Can the presented changes be integrated also directly?

[2021-11-08 11:04] joshmoore commented on #864
A PR with these changes would be fine, yes.

[2021-11-08 13:29] joshmoore commented on #857
Ditto. Naively, I assume we'd need to look at a throughput metric. Are either of you up for opening a PR so we evaluate on a test-passing state?

cc: @alimanfoo

[2021-11-08 14:39] joshmoore commented on #844
Thanks, @QuLogic. I don't assume you've had any insights into what's going on?

[2021-11-08 15:13] joshmoore commented on #858
[Activating 3.9](https://github.com/zarr-developers/zarr-python/pull/859) doesn't seem to show the same error. I'll try to reproduce in a Sid docker.

[2021-11-08 19:19] oftfrfbf commented on #857
@joshmoore I can work on this. I just need to think of a more pragmatic example for a unit test, the code I shared above is too stochastic to be useful.

[2021-11-09 06:53] oftfrfbf commented on #857
Maybe this is acceptable for a test?

I create a matrix that is of shape (10, 10) with chunks that are (2, 2) and initialize it with zeros.

I then create ten parallel processes, each writes a repeating set of numbers diagonally down the upper triangle of the matrix. The expected output should look like this:

[code]
As processes write to the store, reads show inconsistencies across chunks where n

[2021-11-12 04:59] jakirkham commented on #553
The other thing that might be worth playing with is the [LRUStoreCache]( https://zarr.readthedocs.io/en/stable/api/storage.html#zarr.storage.LRUStoreCache ), which was created for this purpose (data crossing cloud boundaries only once). There's an example in the docs.

[2021-11-15 10:02] #629 closed

[2021-11-15 10:24] joshmoore commented on #858
With the following docker file:

[code]

I get:

[code]
(and more generally all enabled tests pass)

@avalentino: can you help me modify the script such that it will more closely match what you are seeing?

[2021-11-15 10:52] joshmoore opened #868 "Surprising N5FSStore test failure"
Using the Python 3.9 / Debian sid Dockerfile in #858 and checking out the master branch, `zarr/tests/test_core.py::TestArrayWithN5FSStore::test_nchunks_initialized` fails as below. This is _not_ the case for the Python 3.9 build in GHA.

cc: @d-v-b

[code]

[2021-11-15 11:13] joshmoore commented on #844
Based on https://github.com/actions/virtual-environments/issues/2187 I assume it will be at earliest next year for GHA support for a big-endian system. Shall we try to temporarily re-enable another platform like CircleCI?

[2021-11-15 14:33] d-v-b commented on #868
Interesting! Something is a list when it shouldn't be... I can dig in :)

[2021-11-15 14:35] joshmoore commented on #844
See #869 for an attempt to use a qemu docker image.

[2021-11-15 16:29] joshmoore commented on #844
Unfortunately these tests _passed_ in https://github.com/zarr-developers/zarr-python/runs/4214212844?check_suite_focus=true :/

[2021-11-16 12:59] joshmoore commented on #858
Ok. I think I've finally tracked down the cause. My guess is that the `fixtures/` directory was not available for testing and therefore they were being re-created and that incorrectly. Hopefully https://github.com/zarr-developers/zarr-python/pull/871 should correct the situation.

[2021-11-16 13:28] joshmoore commented on #857
If it's showing any failing behavior, then yeah, it would make sense to get that into a PR so we can start trying to pin point the issue.

In my mind, this would make sense since that matches the (general) expectations of object storage.

[2021-11-17 08:01] avalentino commented on #858
Hi @joshmoore, sorry for the late reply.
Yes in the debian packaging environment I have removed the ```fixtures``` folder, and also ```zarr/tests/data``` (although removing the second one is probably not necessary).

This have not caused problems in previous versions of zarr but probably this specific test has been added recently.

I will try to test your patch ASAP.

[2021-11-17 08:13] joshmoore commented on #858
Thanks, @avalentino!

[2021-11-17 10:29] oftfrfbf commented on #857
Thanks @joshmoore. I'll work on forking the repo and adding the test.

[2021-11-18 13:35] jstriebel opened #877 "Add Sharding Support"
Update 2022-08-22:

Please note that a sharding proposal is now formalized as a [**Zarr Enhancement Proposal, ZEP 2**](https://zarr.dev/zeps/draft/ZEP0002.html).

A new efficient implementation of sharding is being discussed as part of https://github.com/zarr-developers/zarr-python/discussions/1569.

----

TLDR: We want to add sharding to zarr. There are some PRs as starting points for further dis

[2021-11-18 19:39] d-v-b commented on #877
This is great! Can you give (or direct me to) a high-level description of how the scalable minds sharded format differs from the neuroglancer [precomputed format](https://github.com/google/neuroglancer/blob/master/src/neuroglancer/datasource/precomputed/volume.md)? My lay understanding is that the scalable minds format uses a cartesian grid of shards each containing morton-coded chunks, whereas th

[2021-11-18 20:02] jbms commented on #877
The neuroglancer precomputed format is rather hacky.

- It is desirable to be able to choose the shard size to be any multiple of the base chunk size, but the neuroglancer precomputed format does not allow that due to the way shards are determined.
- In general if your underlying storage system supports key range queries (e.g. S3, GCS, but not a regular filesystem) then it is desirable for your ke

[2021-11-18 20:11] jakirkham commented on #877
cc @FrancescAlted @joshmoore

[2021-11-18 20:53] jbms commented on #877
cc @laramiel

[2021-11-19 05:44] shoyer commented on #877
I think sharding is could make a lot of sense, but it definitely needs to be exposed in the array API. Otherwise, one might inadvertently attempt to simultaneously write different chunks in the same shard which could lead to data corruption errors.

A related concept, which I believe Neuroglancer also supports, is using hashes to group together shards into different directories:
- https://github.c

[2021-11-19 07:27] avalentino commented on #858
Hi @joshmoore, I can confirm that the patch in #871 works properly in the debian build environment.
Thanks a lot.

By the way, If I remember correctly, the main reason why I removed the ``fixtures/`` folder is that it results to modified w.r.t. the original tarball after the build.
If you can suggest an easy way to restore the ``fixtures/`` folder to the original state I could avoid to remove it a

[2021-11-19 08:05] joshmoore commented on #858
Awesome. Thanks. I'll get this into a 2.10.3 release as well as the mainline (2.11 pre-release)

You mean that there are modifications to the fixtures folder after the tests are run? If so, no, I don't know why that would be but I can take a look.

[2021-11-19 08:06] #858 closed

[2021-11-19 09:51] jakirkham commented on #858
Thanks Josh! 😀

[2021-11-19 11:37] FrancescAlted commented on #877
Good to see that you are tackling this.  It is also a shame that you don't find the adoption of blosc2/caterva appealing because IMO it currently fulfills most of the requirements above.  But I understand that you have your own roadmap and it is fine if you prefer going with a different solution :-)

[2021-11-19 12:04] joshmoore commented on #877
Hi @FrancescAlted. We're not nearly far enough along to say that blosc2/caterva aren't appealing! :smile: (see approach `#4`: "Implement blosc2 into Zarr") What we realized after chatting with you was that we really didn't know enough to be able to make any of the critical decisions. The goal here is to get a prototype (or straw man if you will) in place so that as a community we can openly discus

[2021-11-19 16:13] FrancescAlted commented on #877
Ok, happy to hear that.  It is just that after having a cursory look at the proposal, it seemed to me that "we currently favor a combination of approach 1 and 3" was leaving Blosc2/Caterva a little bit out of the game.  But seriously, I don't want to mess up with your decisions; feel free to take any reasonable approach you find better for your requirements.

[2021-11-19 16:22] jbms commented on #877
If blosc2/caterva were used, is there a way to make it compatible with the existing numcodecs, so that for example you could use imagecodecs_jpeg2k to encode individual chunks within the shard?

As far as using caterva as the shard format, it sounds like there would then be 3 levels of chunking: shard, chunk, block.  But writing would have to happen at the granularity of shards, and reading could

[2021-11-19 18:45] FrancescAlted commented on #877
It has been a long week and you are asking a lot of questions, but let me try to do my best in answering (at the risk of providing some nebulous thoughts).

Sorry, but I don't have experience with numcodecs (in fact, I was not aware that jpeg2k was among the supported codecs).  I can only say that Blosc2 supports the concept of [plugins for codecs and filters](https://github.com/Blosc/c-blosc2/tre

[2021-11-23 14:50] mike-lawrence opened #879 "Single-Writer/Multiple-Readers support?"
I’ve been looking at zarr as a replacement for my current use of hdf5 in multiple projects, but one key feature I need is for one process to be writing data that other various parallel processes are able to read, called “SWMR” in the hdf5 world. Is that possible with zarr?

[2021-11-23 14:51] #662 closed

[2021-11-23 16:40] jstriebel commented on #877
Thanks everyone for lively discussion! I'd like to emphasize what Josh wrote, `please do consider this the start of a conversation`. We at scalable minds are interested in implementing sharding support in zarr, not in a specific strategy. The initial description simply is our own and surely incomplete assessment so far.

I'll try to answer the different threads about the general approach in this i

[2021-11-23 17:30] d-v-b commented on #879
Yes, zarr is designed to support both parallel writing and reading of individual chunks from separate processes.

[2021-11-23 23:43] #879 closed

[2021-11-24 13:07] FrancescAlted commented on #877
@jstriebel Yeah, as said, it is up to you to decide whether Blosc2/Caterva can bring advantages to you or not.  It is just that I was thinking that this could have been a good opportunity to use Blosc2 frames as a way to interchange data among different packages with no copies.  Frames are very capable beasts (63-bit capacity, metalayers, can be single-file or multi-file, can live either on-disk o

[2021-11-24 17:58] shoyer commented on #877
Correct, this is an orthogonal optimization

[2021-11-25 10:18] DimitriPapadopoulos opened #881 "LGTM.com warning: Unguarded next in generator"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

LGTM.com emits this warning for `zarr.storage. _keys_fast()`:
https://lgtm.com/projects/g/zarr-developers/zarr-python/snapshot/618aae80d21fc61f2b531e875e441d4a5b2c3042/files/zarr/storage.py?sort=name&dir=ASC&mode=heatmap#xb387346b6d81cfd5:1

In practice, I believe that  `os.walk(path)` wi

[2021-11-26 09:11] joshmoore commented on #862
Thanks, both. Shall we try to capture any of that in the spec itself? Others may be wondering the same thing!

[2021-11-26 09:58] vladpopovici opened #887 "copy string arrays"
Hello,

When using zarr.copy(...) to copy string arrays, a warning is raised:
[code]
What is the proper call for zarr.copy to avoid this warning and to write future-proof code?

Thanks a lot!
V.

* Value of ``zarr.__version__``: 2.10.1
* Value of ``numcodecs.__version__``: 0.9.1
* Version of Python interpreter: 3.9.7
* Operating system (Linux/Windows/Mac): Linux
* How Zarr was installed (e.g., "us

[2021-11-26 10:03] joshmoore commented on #887
Hi @vladpopovici. It's a good point. @abergou also pointed it out in https://github.com/zarr-developers/zarr-python/issues/552. Still open to solutions.

[2021-11-26 13:05] DimitriPapadopoulos opened #890 "Inconsistent `listdir()` and `rmdir()` method signature across class hierarchy"
#### Problem description

The `listdir()` and `rmdir()` signatures are inconsistent across this class hierarchy:
[code]

[code]

* Argument `path` should consistently be either a `str` or a `Path`
* The default value of `path` should consistently be either `""` or `None`.
* `ConsolidatedMetadataStore.listdir()` needs a default value.

[2021-11-26 14:09] mike-lawrence commented on #879
Oh, quick Q @d-v-b : In hdf5, readers have to wait for the store to be set in SWMR mode before reading anything, and while the writer can add to existing datasets at any time, the writer cannot add new datasets to the store once it has set the store to SWMR mode. Does zarr have any similar limitation?

[2021-11-29 11:15] jakirkham commented on #600
Done in PR ( https://github.com/zarr-developers/zarr-python/pull/789 ) and preceding work

[2021-11-29 11:15] #600 closed

[2021-11-29 11:24] jakirkham commented on #349
In PR ( https://github.com/zarr-developers/zarr-python/pull/789 ) we added a `BaseStore` class, which addresses some of these basic needs of Stores

Subsequent discussion around the v3 spec and storing standardized data from libraries handles other concerns raised here

Were there any other things still needing to be addressed here?

cc @joshmoore @grlee77

[2021-11-29 11:25] jakirkham commented on #573
Done in PR ( https://github.com/zarr-developers/zarr-python/pull/789 )

[2021-11-30 12:33] chris-allan commented on #857
I think I've managed to convince myself that @jcafhe is 100% correct. That is:

There is probably room for the [documentation](https://zarr.readthedocs.io/en/stable/tutorial.html#parallel-computing-and-synchronization) to be more explicit but I believe this is consistent with what is stated there, specifically:

A value assignment that spans two chunks needs support for more than chunk-level synch

[2021-11-30 12:36] chris-allan commented on #784
See also #857.

[2021-11-30 19:13] oftfrfbf commented on #857
An Amazon Elastic File System can be [shared between Lambdas](https://aws.amazon.com/blogs/compute/using-amazon-efs-for-aws-lambda-in-your-serverless-applications/) within a Virtual Private Cloud. The attached image gives a rough overview showing the synchronizer accessible to all lambdas (unless I am misunderstanding something):

![aws efs zarr](https://user-images.githubusercontent.com/7818564/1

[2021-12-01 10:04] chris-allan commented on #857
Yes it can, however that just feels like using a sledgehammer to kill a fly. Obviously, I'm not intimately aware of your use case but just be really careful with the semantics of EFS and Lambda if you decide to go that route; additional Lambda cold start times for mounting EFS, performance of EFS with small amounts of data, EFS lock quotas, etc.

If it were me, I'd pick one of the [myriad](https:/

[2021-12-01 13:27] jcafhe commented on #857
Hi,

sorry for the late reply. In hindsight, I agree that the curent behaviour is consistent with what is described in the documentation:

Also, after some refactoring of my code, I don't use concurrent writes anymore so right now, I'm ok with the current behavior of zarr.

Some times ago, I tried to monkey patch the [`core.Array._set_selection`](https://github.com/zarr-developers/zarr-python/blob

[2021-12-01 19:44] jakirkham opened #901 "Blogpost for Zarr 2.11"
There are a few significant changes in this planned release worth highlighting for end users. Along these lines it would be useful to have a blogpost to provide a bit more details on what was implemented and any behavior changes users should expect. Here are a few big things that stick out to me (though feel free to call out others). Would suggest that we write maybe a short blurb (maybe a paragra

[2021-12-02 09:22] DimitriPapadopoulos opened #902 "Use litterals to create data structures?"
#### Minimal, reproducible code sample, a copy-pastable example if possible

Would you accept a patch to silence these DeepSource.io alerts?
https://deepsource.io/gh/DimitriPapadopoulos/zarr-python/issue/PTC-W0019/occurrences

In short, it would change code such as:
[code]
to:
[code]

#### Problem description

This is debatable of course:
* I do find `dict()` easier to read than `{}` myself, at le

[2021-12-02 09:45] DimitriPapadopoulos commented on #890
One problem is that `BaseStore`/`Store` are defined in [`zarr/_storage/store.py`](https://github.com/zarr-developers/zarr-python/blob/master/zarr/_storage/store.py), where `Path` has not been defined so far, while most most the subclasses are defined in [`zarr/storage.py`](https://github.com/zarr-developers/zarr-python/blob/master/zarr/storage.py), which defines:
https://github.com/zarr-developers

[2021-12-02 10:08] DimitriPapadopoulos commented on #890
But then why `bytes`? All paths should be `str`, shouldn't they?

[2021-12-02 11:33] joshmoore commented on #902
Hi @DimitriPapadopoulos. We chatted about it at the regular community meeting yesterday, and general appreciation from everyone for all your work on this! A couple of questions/thoughts:
 * How hard would it be to bundle more of the changes with the goal of reducing the overall notification burden?
 * Do you have an idea of how many more you have coming?
 * For this on in particular, is there a co

[2021-12-02 11:43] DimitriPapadopoulos commented on #902
I think this is one of the last PRs. Most other DeepSource.io alerts do not seem very interesting. My suggestion would be to:
* create a single issue for future DeepSource.io / LGTM.com discussions,
* create a single associated PR for related changes,
* split changes into multiple commits, so that it's easy to discard those changes that you don't want and keep those that you find interesting.

[2021-12-02 11:44] chris-allan commented on #857
Thanks, @jcafhe.

Certainly the general consensus of how to deal with deadlock for multiple lock acquisition scenarios like the one you mention is to formalize the lock acquisition order. However, the fact that the `ProcessSynchronizer` locks are all file based adds a series of other complexities. Some of which are operating system or filesystem (local or network) specific.

I'm certainly not sayi

[2021-12-02 17:12] DimitriPapadopoulos commented on #902
Yes, there are configuration options:
* in file **`.lgtm.yml`** for [LGTM](https://lgtm.com/help/lgtm/lgtm.yml-configuration-file),
* in file **`.deepsource.toml`** for [DeepSource](https://deepsource.io/docs/setup-analysis/#activate-analysis).

I can add such files if you don't mind the clutter.

[2021-12-03 06:01] shoyer commented on #902
My personal opinion is that these sorts of refactors are not worth the trouble. The "performance" cost of looking up the `dict` symbol is unlikely to ever make a measureable difference in real code.

[2021-12-03 09:25] DimitriPapadopoulos commented on #902
Agreed, remains the question if silencing or not alerts. Some (few) alerts are useful, but the useful ones get lost in the noise generated by such "performance" alerts.

[2021-12-06 21:59] QuLogic opened #904 "bsddb3 is deprecated"
#### Problem description

It appears that it's really only used in tests, but `bsddb3` is deprecated according to https://www.jcea.es/programacion/pybsddb.htm It does not support Python >=3.10, and instead `berkeleydb` should be used.

[2021-12-06 23:54] jakirkham commented on #904
Just to be clear this is proposing we move to this?

https://pypi.org/project/berkeleydb/

[2021-12-07 03:12] QuLogic commented on #904
I believe so, yes.

[2021-12-07 10:54] joshmoore commented on #902
I have no objections to the configuration files, especially if that means it helps you detect problems, @DimitriPapadopoulos. I guess if there were a GHA workflow running these they'd be even more pertinent.

[2021-12-08 17:58] ljstrnadiii commented on #857
I am just getting start with zarr, xarray and dask on kubernetes and have been considering using the redlock implemented in pottery. Just chiming in since this seems kind of critical for anyone writing to zarr in dask in a distributed setting. I know it is probably not ideal to use pvc for locking.

Something like this:
[code]
and I am simply setting up redis with helm:
[code]
Any immediate concer

[2021-12-08 18:09] rabernat commented on #857
If you are using a Dask distributed cluster, you can use a [distributed Lock](http://distributed.dask.org/en/stable/api.html#distributed.Lock) to solve this problem. Communication between processes is handled by the Dask scheduler.

In the Pangeo Forge project, we use this to manage distributed potentially overlapping writes to Zarr stores in object storage: https://github.com/pangeo-forge/pangeo-

[2021-12-09 03:24] rocherroche commented on #691
any solution to this?

[2021-12-09 09:05] joshmoore commented on #691
Hi @rocherroche. There was recently a fix (#813 in 2.9.4) What version are you using & are you seeing the identical error?

[2021-12-10 15:59] #881 closed

[2021-12-11 03:52] jakirkham commented on #777
Haven't seen PRs in many months. So I think the answer is "delete and refork". Not ideal, but not much we can do about it either.  Users are also free to raise this problem upstream ( https://github.com/dependabot/dependabot-core/issues/2804 ). Going to close.

[2021-12-13 21:08] DimitriPapadopoulos commented on #902
I suggest adding an LGTM.com configuration file in #909. I think it is not urgent to add LGTM.com as a GHA in the short term, as LGTM.com seems to be run periodically on repositories it has been run on once. In any case, I cannot do that myself, a repository owner must do that:
https://lgtm.com/help/lgtm/github-apps-integration

[2021-12-13 21:18] DimitriPapadopoulos commented on #902
I'll see what I can do with DeepSource.io. It has more false positives, or debatable alerts, and no way to silence them through the configuration file as far as I can see. Again, I cannot activate DeepSource.io myself, a repository owner must do that:
https://deepsource.io/docs/setup-analysis#activate-analysis

For now, I have activated DeepSource.io on my own fork (not sure if you can see the res

[2021-12-14 18:01] d70-t commented on #392
Thanks @rabernat for pointing me here.

I'm thinking a bit around this and our little initial discussion about [IPLD](https://ipld.io/docs/). After reading this thread, I believe that IPLD might indeed be a very good fit.
I believe that building the checksum via a Merkle tree will indeed also work for ND-chunks, but in that case, the entire chunk shape must be fixed and the order in which the chun

[2021-12-14 18:12] d70-t commented on #392
Oh... and given someone has written out the Merkle tree structure in the form of IPLD including `.zarray`-Metadata, like:
[code]
one could fetch only that level of the Merkle tree (excluding the actual data blocks). But based on this information (which is itself verifiably by the CID), one would know to which shape, compression, datatype etc... one would have to rearange some locally available dat

[2021-12-14 18:14] rabernat commented on #392
One complexity here is that there are two possible hashes for each chunk:
- The hash of the uncompressed data - needed to verify the array contents; should be independent of choice of compression codec
- The hash of the compressed data - appropriate for using in a CID system

My post above was more about the former. However, it may make sense to focus on the latter if we are interested in IPLD.

[2021-12-14 18:20] rabernat commented on #392
This looks a lot like consolidated metadata. 🚀

[2021-12-14 18:21] d70-t commented on #392
I'd say yes and no. If we'd make the way of compressing the data a parameter (just as the chunking is a parameter), then any author of a hash-set could decide about using a null-compression to arrive at hashes for uncompressed data or to use another compression to arrive at a different set of hashes. In any case, the one verifying the data must use the same algorithm (including hash, chunking and

[2021-12-15 07:12] arogozhnikov commented on #712
I believe my issue is related:

I've tried to create a dataset in s3 (all ok at this step), but if I try to open in any writeable mode ('a', 'r+', 'w-'), zarr forbids writing new datasets with the same error:

[code]

all printed sums coincide and correct.

Error I get:

[code]

All fresh: fsspec '2021.10.1', zarr '2.10.3', numcodecs: '0.9.1', mac os, pip, python 3.9.

[2021-12-15 15:18] d70-t commented on #877
I'm a bit late in the discussion, but hope I may still join in. Generally, I really like the idea of sharding, and I believe that any of the possible ways to implement it will help us a lot :+1:

**TLDR:** Based on this proposal, we'd now get chunks and shards, which in total are 2 levels. What makes the number 2 special? And do we want to go from 1 to n in stead of 1 to 2?

One thing I am wonderi

[2021-12-15 16:11] jstriebel commented on #877
@d70-t Thanks for joining in. I'm not sure if I understand your motivation correctly, which seems to be about transport (e.g. cloud provider to user, archiving on tape, etc). This issue is mostly about storage, decoupling chunk-wise reads (and possibly writes) from the number of files.

That's exactly what this issue is about. I think that aggregating data during transport (network requests etc) i

[2021-12-15 16:28] normanrz commented on #877
@d70-t Your proposal sounds interesting. I think the special thing about 2 is that we have one level for the unit of reading (chunk) and one as a unit of writing (shard). On-the-fly re-sharding as part of an archival process should be easily implementable with "format 2".

I wonder if the morton code you proposed would limit the sharding to cube-shaped shards (e.g. 16-16-16) instead of cuboid-shap

[2021-12-15 16:32] d70-t commented on #877
@jstriebel thanks for getting back. I think my thought maybe better described as a little bit of reframing which probably results in making it more cross-topic. But in the end, that might result in a very similar implementation you've already done.

My main though was: why should we have exactly two levels of chunking? If the data ends up being stored in a larger storage hierarchy, we might need m

[2021-12-15 16:49] jbms commented on #877
It is true that there is a benefit to be gained from locality at additional levels, both by choosing the order of chunks within a shard and by choosing the shard keys.  However, the added benefit over the two levels, one for reading and one for writing, as @normanz said, is likely to be marginal.  Also, this sharding proposal does not preclude addressing ordering in the future.  Defining an order

[2021-12-15 16:57] arogozhnikov commented on #712
@joshmoore I'm just exploring/testing format and did not use it previously.

[2021-12-16 15:55] satra opened #912 "zarr validation and consistency checking"
i could not find any explicit reference in the documentation to validating a zarr store, hence opening this issue.

we are supporting zarr nested directory stores as a file type for our data archive and looking to validate and inspect the structure of the input before upload. some questions have come up that i am posting here:

- is it simply sufficient to use the zarr reader to open a zarr store,

[2021-12-16 17:22] jwodder commented on #912
I've found the answer to the first question already: an invalid zarr will not always raise an error immediately upon opening.  For example, if a chunk file is malformed, this won't be detected until you actually try to use the containing array.

[2021-12-16 17:30] rabernat commented on #912
Welcome and thanks for the questions.

This is definitely deliberate behavior. Zarr arrays can be petabytes in size with millions of chunks! Individually checking each chunk on opening would not be the right default behavior. Missing chunks are valid in Zarr as well--they represent missing data.

Depends on what you mean by "valid"? If you are asking if the store can be opened by Zarr, then yes, t

[2021-12-16 17:42] satra commented on #912
@rabernat - thank you.

ah hexdigest would apply as an overall checksum. we can compute it, but hexdigest could potentially be a very expensive operation. good to know it exists. we are (at least for our backend on s3) working on a tree-hash scheme to store checksums associated with every file and "directory" in the tree.

if zarr ignores any irrelevant files we may even consider computing and sto

[2021-12-16 17:51] rabernat commented on #912
In that case you may be interested in the conversation in https://github.com/zarr-developers/zarr-python/issues/392#issuecomment-890018515 and https://github.com/zarr-developers/zarr-specs/issues/82. IPFS solves this problem very elegantly, and a lot of us are interested in plugging Zarr into IPFS.

[2021-12-16 17:55] satra commented on #912
i love ipfs (at least the concept), the efficiency is not quite there yet for practical use. yes, ipfs would solve several of these things. we have a bottleneck in that ipfs would require a client running in front of it, and since we are using a public dataset program, we have some constraints in terms of how to support it. we are indeed considering ipfs (or its variants) as a part of an instituti

[2021-12-16 19:31] ivirshup commented on #771
To pick up this thread a bit – I think numba support would be really great.

I think the biggest use case here working with very large amounts of data as quickly as possible. Ideally I could iterate through chunks of my zarr array and compute something from them without having to swap back and forth between numba and python. This process is a bit of a pain, and has a fair bit of overhead.

I can s

[2021-12-16 19:43] rabernat commented on #771
This is generally what everyone wants to do. But I'm not sure that this proposed integration is needed for it. Zarr and Numba solve orthogonal problems. Zarr accelerates data I/O, which can speed up I/O bound problems. Zarr will help get data from files or object storage into memory quickly. Numba accelerates computation, which can speed up compute bound problems. Numba operates on in-memory data.

[2021-12-16 19:53] jakirkham commented on #771
+1 to everything Ryan said.

I think an interesting question for users asking about this would be, are you using or have you tried using Zarr + Dask + Numba? If so, what painpoints have you experienced when doing that? What do your workflows look like?

If we find enough common use cases of such a workflow above, we might be able to dive deeper into how these could be improved.

[2021-12-16 20:21] joshmoore commented on #912
Hi @satra,

A few quick answers while we see if anyone else in the community has built anything.

In terms of the metadata, I'd believe so. zarr-python tends to be fairly lenient about the chunks until access (and _missing_ chunks are considered legitmate)

The files that are relevant to the store are quite limited. If you everything but `^\d+$` and `^[.]z.*$` you should be alright.

Not that I kn

[2021-12-17 21:22] jakirkham commented on #877
As a small note, it might be worth looking at how [Parquet solved this]( https://github.com/apache/parquet-format ) for comparison. Certainly our use case is a bit different from there's, but there are probably still things that can be learned.

Thanks @rjzamora for pointing this out to me earlier 😄

[2021-12-20 21:49] jhamman opened #915 "Using consolidate_metadata with FSStore result in a read-only store"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

raises:

[code]

#### Problem description

When using a fsspec compatible string as the store argument, zarr's `consolidate_metadata` function returns a read-only store, resulting in the error shown above. I believe the expected behavior is to have generate an `FSStore` object with write privileges (so the consoli

[2021-12-21 03:04] raybellwaves opened #917 "make Creating a development environment doc copy-pastable"
In the docs (https://zarr.readthedocs.io/en/stable/contributing.html#creating-a-development-environment).
Tried a quick copy paste to set up a dev environment but got
[code]

I see

❯ python --version
Python 3.9.1

[2021-12-21 03:14] raybellwaves opened #919 "DOC: virtualenv: error: unrecognized arguments: --no-site-packages"
Copying the dev instructions here https://zarr.readthedocs.io/en/stable/contributing.html#creating-a-development-environment

Ran the line `virtualenv --no-site-packages --python=/usr/bin/python ~/pyenv/zarr-dev`

and got

[code]

virtualenv version given here
[code]

[2021-12-21 07:36] christophenoel commented on #592
Hi.
Is there a trick to compute the chunks id from source coordinates ?
Thanks.

[2021-12-21 08:13] joshmoore commented on #919
https://stackoverflow.com/a/60783839/56887 has an explanation. I think this can be reduced down to:

[code]
in newer versions.

[2021-12-21 09:01] joshmoore commented on #592
Hi @christophenoel you probably want to look at the methods in zarr/core.py:
[code]

[2021-12-21 09:36] christophenoel commented on #592
Thanks. This looks a little too tough to me. Cheers.

[2021-12-21 09:39] joshmoore commented on #809
This issue may be fixed by https://github.com/zarr-developers/zarr-python/pull/916

[2021-12-21 09:39] joshmoore commented on #712
This issue may be fixed by https://github.com/zarr-developers/zarr-python/pull/916

[2021-12-21 12:46] ivirshup commented on #771
I wanted to write up a longer response to this with an example for indexing into an on disk sparse matrix, but that requires me digging up some old branches. I think I've got a nice small example though.

I would like to be able to efficiently search a sorted set of genomic intervals. E.g. `bedtools intersect`, but with my genomic ranges stored in a chunked columnar format. My current use case is

[2021-12-21 17:12] #919 closed

[2021-12-21 17:20] raybellwaves opened #922 "ModuleNotFoundError: No module named 'numcodecs' when creating dev env"
Following instructions here https://zarr.readthedocs.io/en/stable/contributing.html#creating-a-development-environment

Running `pytest -v zarr` gives

[code]

Not sure how this is coming in. Doing `pip freeze` I see `numcodecs`

[code]

I can also install on then command line

[code]

Ah I see now. It's picking up `pytest` from a different path

[code]

[2021-12-22 08:11] christophenoel opened #924 "Big data support"
Hello,

We plan to generate a super large data array (lat, lon, time) from the 56.000 Sentinel-2 tiles (per year). The longitude variable would hold about 3 million coordinates and about 2 billion chunks.

- What would be the metadata size for that ? Is there an explicit mapping to each chunk,  or is it computed based on index?
- Coordinates size would be around 8 MB ?
- How fast would be a query

[2021-12-22 18:45] rabernat commented on #924
Thanks for sharing. This sounds like a perfect application for Zarr.

The metadata size is independent of the array size, as you can see from the [spec](https://zarr.readthedocs.io/en/stable/spec/v2.html#metadata). Arbitrarily large arrays can be stored in Zarr. This is a fundamental goal of the project.

Zarr has no concept of coordinates. Just groups and arrays. Perhaps you're thinking of Xarray

[2021-12-23 07:29] christophenoel commented on #924
Thanks, for your answer. I probably was not clear in my questions as I mixed concepts from zarr and from xarray.

1. We store geospatial data In a chunked multidimensional array (e.g. data) composed of three dimensions. Do you confirm that zarr can map from array index to chunk index only by function of the chunk shape ? It does not use an internal mapping index ?

2. I don't think Amazon S3 is li

[2021-12-23 16:46] taras-sereda opened #925 "Zarrr inconsitantly returns Nans"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

While accessing data Zarr returns Nans inconsistently. The only difference is that `data` is a slice when `data_2` is a whole 2d array, sliced latter. I expect both ways of accessing data should give exactly same results. *What might be a reason of such undetermined behavior?*

#### Versi

[2021-12-24 14:34] Ha5hBr0wn opened #926 "Feature Request: Advanced indexing without oindex and vindex"
Hi,

I have just begun to use `zarr` and it is great thank you!

The one thing I find mildly annoying is having to write `oindex` and `vindex` when doing advanced slicing. This is because I am writing functions that can handle either an in memory `numpy` array or a `zarr.core.Array`. So a lot of code ends up looking like

[code]

whenever the slice involves advanced indexing.

It seems like all th

[2021-12-29 07:55] arogozhnikov commented on #712
@joshmoore nice, I can recheck after PR is merged. Though as of now there is noone assigned to review #916

[2021-12-30 10:58] rabernat commented on #924
Yes. If you have a 3D Zarr Array and use numpy indexing to retrieve a value by position, e.g. `data[10, 20, 30]`, Zarr will figure out which chunks need to be read. I don't know what you mean by "internal mapping index".

I don't understand what you mean by "map coordinates". Can you clarify? Why do you think xarray will have to read 3 million records? Can you say more about the access pattern you

[2022-01-05 08:13] kw90 commented on #559
Is there any update on this? I'm facing similar issues even though https://github.com/fsspec/s3fs/issues/285 was merged.

[2022-01-05 14:18] orenwatson opened #931 "Zipfile produced by Zip store has incorrect length stored (and hence wrong cksum)"
You can reproduce this by doing this in the python REPL:
[code]
If you then try `unzip -l a.zip`, you will see the length of foo listed as 4 bytes, as opposed to the correct length of 16 bytes, which you can verify by doing the above with a DirectoryStore. This results in the zipfile being corrupted. I have submitted a pull request for the one-liner fix here:

https://github.com/zarr-developers/za

[2022-01-06 08:04] joshmoore commented on #559
@kw90: how close is what you are doing to the code above?

[2022-01-06 10:44] #915 closed

[2022-01-06 10:45] joshmoore commented on #712
@arogozhnikov, now merged. Let me know how it works for you.

[2022-01-06 11:52] joshmoore commented on #931
#930 is now merged. Thanks again.

[2022-01-06 11:52] #931 closed

[2022-01-06 13:49] kw90 commented on #559
I'm not rechunking the zarr file on S3, but simply creating datasets using the default chunk structure (for now). Also looking forward to use chunks optimized for time-series, though.

- Writing files to the S3 key/value store using `boto3` takes around 2s/file.
- Creating a dataset for a file to S3 using `Zarr` and `s3fs` takes around 50s/file, while creating a dataset locally takes around 0.2s/f

[2022-01-06 16:42] d-v-b commented on #559
If, as @rabernat suggests, s3fs is doing expensive full directory listings, then using `/` as a dimension separator instead of the default `.` might give an immediate performance boost. I.e., `store=FSStore(*args, **kwargs, dimension_separator='/')`. @kw90 could you give this a try?

[2022-01-06 18:42] kw90 commented on #559
Sure, I'll give this a try. I'm not sure how to use the `FSStore`, though. Is this supposed to replace the `S3Map` in the following or as a intermediate layer between `s3fs` and `Zarr`?

[code]

[2022-01-06 23:18] arogozhnikov commented on #712
@joshmoore  I am on '2.11.0a3.dev41' and nothing changed, I get
[code]
on the same example code above

[2022-01-14 14:59] christine-e-smit opened #938 "When I repeatedly append data to a zarr array in s3, appending takes longer and longer and longer"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

When we repeatedly append to an array in s3, the time zarr takes to append the new chunk takes longer and longer and longer. While we would normally expect this to happen if zarr had to rearrange what it had already written, we don't think that's what zarr does. As far as we can tell, zar

[2022-01-14 15:15] christine-e-smit commented on #938
I ran the above script last night. It appears to have stopped before doing 500 iterations, but you can at least see the trend.

[loop_zarr.txt](https://github.com/zarr-developers/zarr-python/files/7871287/loop_zarr.txt)

[2022-01-14 15:18] rabernat commented on #938
My hunch would be that this is related to s3fs directory listing and caching. @martindurant any thoughts?

[2022-01-14 15:26] martindurant commented on #938
I recommend turning on debug for the logger "s3fs" to see what S3 processes, if any, are taking up time. I'm not sure if zarr would be calling any listing operations, but that would be an obvious thing that gets longer as more files accrue.

[2022-01-17 15:57] christophenoel opened #941 "GeoZarr Extension"
Dear Community,

I don't know if there is an alternative channel to share this information, sorry if so.

In the context of an European Space Agency (ESA) GSTP (General Support Technology Programme) we prepared a first draft for a geospatial extension to Zarr (GeoZarr).

This specification is an early draft (v0.1) and a prototype implementation of GeoZarr-based (and Cloud based) geospatial data st

[2022-01-17 16:57] joshmoore commented on #941
First off, big :+1: for this, @christophenoel.

Probably https://github.com/zarr-developers/zarr-specs would be best for the moment. Happy to transfer if there are no objections. (I'll point out though that as with https://github.com/zarr-developers/zarr-specs/issues/50 it may be that portions are intended for the core spec while portions are more an extension or a community convention)

It looks

[2022-01-17 20:57] rabernat commented on #941
This is a great effort @christophenoel!

I am leading the Zarr OGC community standard effort. The google document linked below is a "preamble" which will soon be voted on by OGC - https://docs.google.com/document/d/199yucgyJbU3tTZcO1lEbCEWHIvkUXoR1/edit?usp=sharing&ouid=102969561847050549657&rtpof=true&sd=true. It mentions geospatial data in several ways. I would love to have your comments.

It wo

[2022-01-17 21:50] jhamman commented on #941
+1 to transferring this issue to zarr-specs

And +1 to hearing more about the map viewer work (perhaps that could use its own issue).

[2022-01-18 12:43] christophenoel commented on #941
Thanks a lot for your friendly encouragement.

Some feedback:

- **Multiscale**: I used draft #50 ideas as a baseline. It was migrated to image.sc but misses the geospatial aspects. From my point of view, resolution property is relevant for geospatial data to ease the computation of the scale according to zoom level (instead of computing the value from the coordinates variables)
- **Demonstrators*

[2022-01-18 12:45] christophenoel commented on #941
Very interesting. I have read very carefully the outcome from the COG/Zarr report from OGC Testbed 17. I keep in touch with you.

[2022-01-19 13:12] d70-t commented on #392
I've been playing around with this idea of using IPLD to list hashes a bit. [See here](https://github.com/d70-t/ipldstore#readme) for some (experimental) code examples.

* On the high-level side, it's a MutableMapping which can be used as a Store for zarr.
* On the mid-level, it assumes handling of IPLD data blocks, identified by their content id (CID, which is a hash + hash algorithm + encoding o

[2022-01-19 13:33] d70-t commented on #392
In theory, it should also be possible to use hashes of uncompressed data in a CID system. The goal of a CID is to be a unique identifier for the content of relevance. I believe that it doesn't really matter if that content is stored in compressed or uncompressed form on a level below the block storage interface. There might even be two ways of looking a situation where the CID is computed from the

[2022-01-19 20:36] jakirkham commented on #392
cc @martindurant (as you may be interested in the recent discussion here)

[2022-01-20 15:58] christine-e-smit commented on #938
First, I don't think s3fs is doing directories listings on the variable path. It only does directory listings at the higher level with the .zgroup. So the problem does not seem to be that s3fs is having to deal with more and more objects under the variable path.

Instead, the issue seems to be around writing the .zarray file.

Every time my code appends some new data, there are 14 new log messages

[2022-01-20 17:03] christine-e-smit commented on #938
I think that the next thing I'd be curious to try is to use s3fs directly to repeatedly overwrite an object in s3 and see what happens. I think I'll also try using the boto3 library directly to do the same thing and see what the timing is.

[2022-01-20 17:13] rabernat commented on #938
An alternative to appending, if you know the final size of the array, would be to pre-allocated a large empty array and just write to the desired region.

You could also consider storing your metadata in a separate, faster store (e.g. redis, database, local file, etc), if this really turns out to be a bottleneck.

[2022-01-20 17:18] martindurant commented on #938
Perhaps it would be useful for you to add more logging to the _call_s3 method, to see at what point things are caught. There are ways to profile what's happening inside the async event loop / the state of fsspec's thread, but it would involve some work.

I wonder, what is your total event rate here? AWS imposes quotas or rate limits for some operations.

If this is in one process, it can even be j

[2022-01-20 17:38] christine-e-smit commented on #938
@rabernat  - We unfortunately do not have a final size for the array. Data keeps coming in until the mission is over. We did try pre-allocating an enormous array that was much bigger than our real datasets could ever grow to. This did sort out the timing issue, but made us worry about where to store the real size of the array.

@martindurant / @rabernat  - storing the metadata somewhere else where

[2022-01-21 07:58] joshmoore commented on #938
Grasping at straws a bit, is versioning turned on?

From https://docs.aws.amazon.com/AmazonS3/latest/userguide/versioning-workflows.html:

@martindurant: would the 503's be (silently) retried?

[2022-01-21 14:22] christine-e-smit commented on #938
@joshmoore - that is an interesting idea, but my bucket did not have versioning. This is good to know, however, if we ever decide to turn versioning on.

[2022-01-21 14:24] martindurant commented on #938
Can you please check: if you end your python session, and then restart appending in a new process, do you still see the slowness?

[2022-01-21 14:46] christine-e-smit commented on #938
@martindurant  - Will do. Not sure if I have time to run it today, but I will get back to you.

[2022-01-26 10:28] joshmoore commented on #712
Thanks, @arogozhnikov. @martindurant, do you know off hand if

https://github.com/zarr-developers/zarr-python/blob/master/zarr/convenience.py#L80

should actually be `clobber = mode in ('w', 'a')`? It's feeling a bit like all the usages of `normalize_store_arg` need reviewing.

[2022-01-26 14:19] martindurant commented on #712
I am not certain in this context, but "clobber" ought to mean that any existing dataset is removed before write, right?

(not clobber) is not necessarily the same as (read only), so perhaps it's the naming convention that's wrong?

[2022-01-26 18:15] arogozhnikov commented on #712
@joshmoore this change does not help.

From the log above you may see that mode somehow transforms to 'r':

[code]

[2022-01-26 20:43] joshmoore commented on #712
@martindurant : hmmm..... that's a good question. From https://github.com/zarr-developers/zarr-python/blob/22ded1d656cb2034180cf8a3f23f82b51f79d8b4/zarr/storage.py#L113 I read clobber to mean:

@arogozhnikov : thanks!

[2022-01-27 05:39] jni commented on #901
Ok, suggestions:

For fancy indexing:

For empty chunks:

Happy to edit as needed! :blush:

[2022-01-27 21:46] NightMachinary commented on #523
@dokooh Did you succeed in loading `zarr` files into Spark? `dask` can load these files easily; can't we just feed `dask` arrays into `pyspark`?

[2022-01-27 22:13] shoyer commented on #523
There are a few ways you could do this, but my guess is that strategies similar to [those we use in Xarray-Beam](https://xarray-beam.readthedocs.io/en/latest/read-write.html) could be effective. Beam has a very similar data model to Spark's RDD.

[2022-01-28 08:35] jakirkham commented on #262
Is this still an issue with recent releases? Wondering if this is gone after moving to ipytree?

[2022-01-28 09:51] dokooh commented on #523
We did as I have been told, although the smaller the chunks the easier it was to load them so we kept the zarr sizes to only several months per each year and faced no issues.

[2022-01-28 09:51] #523 closed

[2022-01-28 09:52] dokooh commented on #523
Thanks Stephen, have heard of Beam as it has gained attention in wider large data processing community, it will be added to my to-do list for a try out.

[2022-01-28 22:08] christine-e-smit commented on #938
@martindurant  - I appended to an existing array using a new process and it was just as slow as appending had been at the end of the first process. So I decided to wait a day and try appending again to see if there was some kind of temporary throttling happening in s3. Appending was still slow after it had been more than 12 hours since I'd last touched the zarr store. I even tried creating a brand

[2022-01-28 22:10] martindurant commented on #938
Certainly, please let us know here anything you find out.

[2022-02-02 08:46] aliaksei-chareshneu commented on #887
@joshmoore, I have the same issue with object arrays (copying hdf5 to zarr), however it even does not allow to do it with current zarr version. Could you tell me if there is a workaround?

[2022-02-02 08:56] aliaksei-chareshneu opened #954 "Copying HDF5 to Zarr - missing object_codec for object array"
Dear all,

I am trying to copy_all entire HDF5 file (or copy a group from it) to zarr structure. When it reaches an object array from HDF5, ValueError pops up: missing object_codec for object array. Could you tell me if there is a workaround?

Best regards,
Aliaksei

* Value of ``zarr.__version__``: 2.10.3
* Value of ``numcodecs.__version__``: 0.9.1
* Version of Python interpreter: 3.8.2
* Operati

[2022-02-02 09:48] jakirkham commented on #954
What if you preinitialize the relevant arrays with the needed `object_codec`s?

[2022-02-02 09:59] aliaksei-chareshneu commented on #954
@jakirkham, thank you for your response. I am relatively new to HDF5 and Zarr, so I apologize for a potentially naive question. Do you mean doing something like:
`zarr.array(array_data, dtype=object, object_codec=numcodecs.MsgPack())`
for each object array, and copy all the arrays one by one using copy instead of copy_all?

[2022-02-03 07:35] joshmoore commented on #887
Not that I know of, sorry.

[2022-02-04 10:36] joshmoore opened #956 "Updates for zarr.readthedocs.io/"
* [ ] Now that https://zarr.dev is no longer just a blog, we should link back from the documentation that's servered from readthedocs.
* [ ] Update the logo

cc: @msankeys963

[2022-02-04 14:02] d70-t commented on #877
I'm trying to wrap my head around what the **pros** and **cons** of the Store and Array based prototypes are and how they might interact with other topics (like checksums, #392 and content addressable storage transformer, zarr-developers/zarr-specs#82). What I figured out so far would be:

* stores are meant for handling lower level things like byte-layout, networking, packing / unpacking (e.g. li

[2022-02-04 16:34] #922 closed

[2022-02-07 13:34] jstriebel commented on #877
@d70-t At the moment the difference between the implementations should would only have a small effect for other methods. Atm both implementations (#876 #947) implement sharding as a translation layer between the actual store and the array. One time the implementation is separated into a "Translation Store", the other time it is moved directly into the Array class. In both scenarios one can iterate

[2022-02-07 22:57] jakirkham commented on #954
Yeah doing something like that for initialization would work.

Personally would write a visitor pattern perhaps using [h5py's `Group.visititems`]( https://docs.h5py.org/en/stable/high/group.html#h5py.Group.visititems ) to visit everything in the HDF5 file. Then can use [Zarr's `Group.require_group`]( https://zarr.readthedocs.io/en/stable/api/hierarchy.html#zarr.hierarchy.Group.require_group ) to i

[2022-02-08 16:41] jakirkham commented on #926
Some work along these lines was done in PR ( https://github.com/zarr-developers/zarr-python/pull/725 )

[2022-02-09 08:02] aliaksei-chareshneu commented on #954
Dear @jakirkham, many thanks!

[2022-02-09 08:02] #954 closed

[2022-02-09 08:11] TheChymera opened #961 "Unspecified test error in 2.10.3 `Fatal Python error: Aborted`"
I am getting an error when trying to run the test suite for `=zarr-2.10.3` which I can't really understand.

Here is the full [build log](https://ppb.chymera.eu/d988ce.log)

The actual failure seen towards the bottom is:

[code]

[2022-02-09 08:44] joshmoore commented on #961
The fact that the failure occurs on chunk encoding:

[code]

suggests that there's an issue with your installation of `numcodecs`. How did you install/build the zarr dependencies?

[2022-02-09 17:20] michael-sutherland opened #962 "Can't write dask array to zarr file"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

Get an error when trying to write a dask array to a zarr file.  I took the proposed example from https://github.com/ome/ome-zarr-py/pull/121 and wrapped the numpy array in a dask array.  It appears that the dask array function astype doesn't support the parameter "order".  The example cod

[2022-02-09 17:21] joshmoore commented on #962
Hi @michael-sutherland. Can you include which version of dask?

[2022-02-09 17:43] michael-sutherland commented on #962
dask: 2021.12.0

[2022-02-09 17:44] michael-sutherland commented on #962
numpy docs for astype: https://numpy.org/doc/stable/reference/generated/numpy.ndarray.astype.html
dask docs for astype: https://docs.dask.org/en/latest/generated/dask.array.Array.astype.html

[2022-02-09 19:57] jakirkham commented on #954
Take it that means things worked for you? 🙂

[2022-02-09 20:04] jakirkham commented on #887
@aliaksei-chareshneu and I discussed their use case in issue ( https://github.com/zarr-developers/zarr-python/issues/954 ). Believe that resolved the issue

[2022-02-10 06:58] aliaksei-chareshneu commented on #954
@jakirkham, not exactly that approach, but a similar one. Thanks again for devoting your time to help me!

[2022-02-10 07:09] TheChymera commented on #961
@joshmoore thank you for replying to this. There is indeed an issue with numcodecs (it appears to build fine, but some of the tests fail).

This is the full [build and test log for `numcodecs`](https://ppb.chymera.eu/fdaf1c.log). I have also [reported the `numcodecs` issue](https://github.com/zarr-developers/numcodecs/issues/304), but there has yet to be any feedback on it.

[2022-02-10 08:57] joshmoore commented on #962
Thanks for the info, @michael-sutherland. Looking at the stacktrace again, any objections to migrating this to github.com/ome/ome-zarr-py ?

cc: @sbesson @will-moore

[2022-02-10 10:19] jstriebel commented on #877
@d70-t Is my understanding correct to do the checksumming chunk (or shard) wise? And independently of the underlying store? That's at least my understanding of . If checksumming should happen on shard- or chunk-level could be transparently configured if there is a translation layer abstraction between the sharding, e.g.
* Checksumming per chunk: `Array --> Checksumming --> Sharding --> Store`
* Ch

[2022-02-10 15:52] d70-t commented on #877
Yes, checksums could in theory be implemented either on shard or on chunk level and independent of the store. But the choice has practical implications (independent of concrete checksumming or content addressable implementations):

If checksums are computed per shard (`Array --> Sharding --> Checksumming --> Store`) this **defeats the purpose of sharding** (or at least the possibility of less-than

[2022-02-10 16:36] michael-sutherland commented on #962
Oops!  Sorry if I misidentified which library the problem was in.  Would you like me to migrate the issue or would you prefer to do it?

[2022-02-11 14:25] joshmoore commented on #962
No worries. Doing it now.

[2022-02-14 18:11] d-v-b commented on #559
I think you would do something like this:
`store = FSStore('s3://bucket', dimension_separator = '/', storage_options = {'anon' : False, 'use_ssl' : True, ...})`, with all your other kwargs to `S3FileSystem` in the `storage_options` kwarg.

[2022-02-15 00:30] benjeffery opened #965 "Incorrect default fill value causes byte arrays to become numeric when `write_empty_chunks=False`"
Minimal example:
[code]
The value of `a[0]` is actually `0`, when it should be `b''`.

Found by one of our users at https://github.com/tskit-dev/tsinfer/issues/628 this bug was introduced in the latest release (`v2.11.0`) in this commit: https://github.com/zarr-developers/zarr-python/commit/f461eb78fbb88187582cd9123d6ec7622d9abd26 when the default for `write_empty_chunks` was changed to `False`. T

[2022-02-15 00:52] jakirkham commented on #965
cc @d-v-b @jni (for vis)

[2022-02-15 05:48] jni commented on #965
To clarify: the default should be "None", but behind the scenes, there should be a different default value for each dtype? Is there a complete mapping of dtype->default fill value for all dtypes supported by zarr-python?

[2022-02-15 10:09] jakirkham commented on #965
Maybe this comment ( https://github.com/zarr-developers/zarr-python/pull/966#issuecomment-1039822466 ) answers some questions?

As to what this should be, there is a case for making it `None` here as it is elsewhere, but there are tests that check this is `0`

[2022-02-15 17:10] will-moore commented on #962
As mentioned on https://github.com/zarr-developers/zarr-python/issues/962, the example can be simplified to remove `ome_zarr` and get the same exception:

[code]

[2022-02-16 14:07] benjeffery opened #967 "Change in indexing behaviour with numpy ints"
After https://github.com/zarr-developers/zarr-python/commit/7c31f041ca8baab860564d9c6332c52f19777e80 there was a breaking change to indexing behavior when a numpy integer type is passed:

For the following array:
[code]
Before this commit:
`a[np.int64(1)]` has the value `1.0`
After:
`a[np.int64(1)]` has the value `[1.]`

For both cases `a[1]` stays as `1.0` as expected. Was this change expected? T

[2022-02-18 20:49] joshmoore commented on #962
Updated @will-moore's example to define `mean_val = 10`.

[2022-02-24 03:14] jakirkham commented on #902
Was there anything more we wanted to do on this issue or is this good to close?

[2022-02-24 07:09] DimitriPapadopoulos commented on #902
Good to close as far as I'm concerned.

[2022-02-24 07:19] #902 closed

[2022-02-24 07:19] jakirkham commented on #902
Thanks again for all the hard work here Dimitri! 😄

[2022-02-25 01:08] JoOkuma opened #971 "Question about reverse mapping from `key` to `slice`."
Hi, I'm not sure what's the best place to ask `zarr` questions so I'm posting this here.

I'm trying to iterate as fast as possible over a `zarr.Array` with very few chunks initialized.
I couldn't find a method for this so I'm implementing my own function that will return a sequence of chunks and their respective slices.

I started with this function to get the chunks' key:

[code]

Is there any A

[2022-02-25 16:56] raphaelquast opened #972 "Specify chunking for an array with initial dimension 0"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

[code]

... initializing the array with 1 line makes everything work just as expected...
[code]

... also dropping the chunks argument would help but then chunking is not defined right?
[code]

#### Problem description
I wanted to create an empty array (with size 0) whose first dimension should be chunked and then

[2022-02-25 17:13] jakirkham commented on #972
Have you tried dropping the `chunks` argument?

Also note that `chunks` is expected to be the same length as `shape`, which is not the case here

[2022-02-25 17:16] raphaelquast commented on #972
Hey, thanks for the quick response!

well, what I want to create is an array that is chunked with respect to the first dimension
(and it is dynamically updated)
From what I understand, if i don't provide the chunks argument, the whole array will be one big chunk right?

I've checked and using `chunks=(None, 2)` does not change anything  (I've updated the issue)

[2022-02-25 17:38] raphaelquast commented on #967
I was just about to write the exact same issue...   (stumbled upon it while trying to read an encoded dict)

[code]

[2022-02-25 18:10] jakirkham commented on #972
No it will pick some automatic chunking based on [this logic]( https://github.com/zarr-developers/zarr-python/blob/f461eb78fbb88187582cd9123d6ec7622d9abd26/zarr/util.py#L69 )

<hr>

In any event, if one wanted to support this kind of thing, would suggest taking a look at [`normalize_chunks`]( https://github.com/zarr-developers/zarr-python/blob/f461eb78fbb88187582cd9123d6ec7622d9abd26/zarr/util.py#

[2022-02-28 18:36] d70-t opened #975 "Open mode is lost when opening via FSStore"
This issue describes failed writes to xarray groups using `FSStore` where I'd expect the write to succeed. My current assumption is, that these issues occure due to mode-flags getting lost when the store is created implicitly (i.e. only an url is passed to zarr functions). I don't yet know how to fix this or if this is intended behaviour, thus I'm creating an issue.

#### Minimal, reproducible cod

[2022-02-28 18:42] d70-t commented on #975
For the second case (can't write chunks on consolidated store), my assumption is, that [here](https://github.com/zarr-developers/zarr-python/blob/79307fc71a3fa1549577045028f67db9609a52dc/zarr/convenience.py#L1182) the `mode`-Flag is lost, and as `chunk_store` defaults to `store` [a few lines later](https://github.com/zarr-developers/zarr-python/blob/79307fc71a3fa1549577045028f67db9609a52dc/zarr/co

[2022-02-28 18:45] d70-t commented on #975
For the first case, this might be a similar one at [this location](https://github.com/zarr-developers/zarr-python/blob/79307fc71a3fa1549577045028f67db9609a52dc/zarr/hierarchy.py#L1107). However as there's no `mode`-argument, there might have to be some logic which determines the correct flag in this case.

[2022-02-28 18:48] joshmoore commented on #975
seealso: #916, #712

[2022-03-01 17:13] d70-t commented on #975
From #712 I got the impression that `clobber` might be redundant with `mode`. The draft PR experiments with dropping the `clobber`-Argument and might fix this issue.

I didn't yet look deeper into the `zarr.group` case, as it might also be considered a user error by me (`open_group` does the trick...).

[2022-03-01 17:13] d70-t commented on #975
From #712 I got the impression that `clobber` might be redundant with `mode`. The draft PR experiments with dropping the `clobber`-Argument and might fix this issue.

I didn't yet look deeper into the `zarr.group` case, as it might also be considered a user error by me (`open_group` does the trick...).

[2022-03-02 16:55] joshmoore commented on #975
I've struggled with the exact semantics of `clobber` as well. My interpretation was less redundant than a way to _disable_ the mode, something like "if store is a string, ignore the mode"  but the background there is unclear to me.

[2022-03-02 17:32] d70-t commented on #975
Yes, that's what I thought so too, but then, both, `clobber` and `mode` are only used if `store` is a string. So if `store` is not a string, it shouln't matter what `mode` is. Thus it should be fine to change `mode` to `"r"` when `clobber=False`, independent of if `store` is a string or not.

But yes, a bit more background on this would be great.

[2022-03-03 18:16] sshleifer opened #977 "chunk boundaries for indivisable array size"
Suppose I created

[code]

Would it be safe to have 1 thread write to `arr[12:16]` while another wrote to `arr[16:]`?

I.e is the last element in its own chunk of size 1?

### Why I care

There may be a much smarter way to do this (like with uneven chunk sizes or some such):

I have each worker holding a strangely shaped 1D array, and am trying to verify the following code for determining the maxi

[2022-03-03 23:40] vyasr commented on #965
A similar underlying issue also manifests in an even more surprising way for object arrays. I say similar because I suspect that it's not _exactly_ the same issue, but rather something closely related: my guess is that the truthiness of an object is being used to determine whether a chunk is empty or not, and for object arrays that may give in incorrect results since it results in a loss of inform

[2022-03-04 00:58] joshmoore opened #978 "Add pre-commit configuration"
Sorry I missed the linting in the dev guide. I can recommend https://pre-commit.com/ for these type of checks, we use it heavily over at tskit: https://github.com/tskit-dev/tskit/blob/main/.pre-commit-config.yaml

_Originally posted by @benjeffery in https://github.com/zarr-developers/zarr-python/issues/974#issuecomment-1055670808_

[2022-03-04 01:05] jni commented on #965
Ok, so we could have a dict, if the dtype is in the dict, use it, if not, `write_empty_chunks` goes back to True?

[2022-03-04 01:09] d-v-b commented on #965
I could see this working if we widen the type of the `write_empty_chunks` to `Union[bool, Literal['auto']]`, where `auto` does the behavior you describe

[2022-03-04 17:10] #975 closed

[2022-03-05 10:15] aliaksei-chareshneu opened #980 "Data view /slice of zarr array without loading entire array"
Dear all,

Could you tell me please how do I get a data view of a zarr array? The key thing is performance.

From the docs, it looks like there is two options:
 - Use `getitem` via ":" notation
(store is existing DirectoryStore, there is one group 'sgroup' and one 3D array 'sarr')
[code]
 - Use `get_basic_selection`
[code]

In general, what is the difference between them? Would both options indeed

[2022-03-05 10:24] aliaksei-chareshneu commented on #843
Are there any updates on this?

[2022-03-05 15:00] cgohlke commented on #843
Doesn't look like. Timings are basically the same, maybe slightly worse:
[code]

[2022-03-07 12:57] rabernat commented on #843
HI @cgohlke! Thanks for reporting this issue and sorry that no one has replied to you yet.

It sounds like you are suggesting that an optimization should be made such that strided indexing can pull only the chunks that are needed for the desired selection, rather than the entire range. This sounds reasonable to me. Some of the relevant code is here:

https://github.com/zarr-developers/zarr-python/

[2022-03-07 18:27] #967 closed

[2022-03-07 19:20] joshmoore commented on #980
zarr-python should work hard not to load the entire array, but will actively load the individual chunks. If you want to defer even that, you might want to look into combing it with dask.

The recent release of 2.11 should also allow some slightly fancier indexing: https://zarr.dev/blog/release-2-11/

[2022-03-07 19:32] shoyer commented on #980
You might be interested in TensorStore, which can do lazy indexing of Zarr arrays: https://github.com/google/tensorstore

Xarray also has it's own lazy indexing that works on top of Zarr (with or without Dask).

[2022-03-07 22:26] joshmoore commented on #712
@arogozhnikov _et al_.: Another attempted fix was just released with 2.11.1.

[2022-03-07 22:53] arogozhnikov commented on #712
@joshmoore
I confirm that with 2.11.1 the issue is solved! 🎉

[2022-03-07 23:01] joshmoore commented on #712
_whew_ Thanks @d70-t and @martindurant! (https://github.com/zarr-developers/zarr-python/pull/976)

[2022-03-07 23:01] #712 closed

[2022-03-07 23:06] MSanKeys963 commented on #975
This issue has been fixed in patch release [2.11.1](https://zarr.readthedocs.io/en/stable/release.html#release-2-11-1). 🎉

[2022-03-08 14:00] aliaksei-chareshneu opened #982 "Does initializing zarr store/group/arr load data or create pointer to them?"
Dear all,

Could you tell me please if zarr actually loads the data when the following piece of code is executed, or it just creates a pointer to array?

Assume `path` is actual path, `sgroup `is group namde, `sarr` is arr name
[code]

Best regards,
Aliaksei

* Value of ``zarr.__version__``: 2.10.3
* Value of ``numcodecs.__version__``: 0.9.1
* Version of Python interpreter: 3.8.2
* Operating syste

[2022-03-08 14:04] aliaksei-chareshneu commented on #980
Thank you! I had a look. But it seems that it is just syntactic sugar (like dropping 'vindex'), or there are performance benefits too?

[2022-03-08 14:15] rabernat commented on #980
This is related to #843.

I would also note that it has been proposed to factor Xarray's lazy indexing classes into a standalone package (https://github.com/pydata/xarray/issues/5081).

[2022-03-08 14:39] joshmoore commented on #982
@aliaksei-chareshneu : no chunks (i.e. no data) should be loaded at this point. Only _metadata_ about how chunks there are, where they are located, etc.

[2022-03-08 22:42] benjeffery commented on #967
Woop! Thankyou for the quick release!

[2022-03-09 17:01] christine-e-smit commented on #938
I am stumped. I haven't had a ton of time to spend on this issue over the last 6 weeks, but I've tried to replicate the timing issue by just writing to s3 using s3fs and I can't. My initial attempt repeatedly overwrote a junk object in s3. When that didn't show any issues, I wrote a script that reads an object that is basically a .zarray json object, updates a value in it, and writes it back out.

[2022-03-09 17:02] christine-e-smit commented on #938
So I don't know how to replicate this timing issue outside of zarr.

[2022-03-09 18:11] christine-e-smit commented on #938
Yeah. You actually did mention that before. As I said in https://github.com/zarr-developers/zarr-python/issues/938#issuecomment-1017655172, the logs do show that zarr lists the root directory repeatedly, which makes total sense since my script repeated opens that directory. But that directory has only one object - .zgroup. Zarr is not listing the /var/ directory, which has all the variable's objec

[2022-03-09 18:39] christine-e-smit commented on #938
If I'm reading the zarr code correctly (big if), I think this is where zarr asks s3fs (in my case) to write out the .zarray file. So, in theory, this is where I think the slow down is happening:

https://github.com/zarr-developers/zarr-python/blob/594c441693220eb4302f60c21c6bb021426bfdaa/zarr/core.py#L253-L269

In my case `self._store` is presumably the S3Map I created in this block of code:

[cod

[2022-03-09 18:48] martindurant commented on #938
S3Map is an [FSMap](https://filesystem-spec.readthedocs.io/en/latest/api.html#fsspec.FSMap), providing a dict-like view over storage. I suppose the doc is bad because `s3.get_mapper(root)` is the way to do this now. zarr interacts by getting and setting (getitem, setitem), which should just call cat and pipe on the filesystem.

[2022-03-09 19:18] christine-e-smit commented on #938
Hmmmmm. I'm going cross-eyed looking at the logs from my just-call-s3fs logs and the zarr-calls-s3fs logs. It appears that I'm seeing the same pattern of 6 log messages when I read and then write the .zarray in just-call-s3fs logs. So yeah, using S3Map is causing the same log messages as using S3FileSystem directly. I don't think that running a test with S3Map is going to make a difference.

[2022-03-09 19:36] christine-e-smit commented on #938
I think I'm going to try a script that just asks zarr to reshape the array rather than appending. This will write the .zarray object presumably, but there won't be any chunks of data written, which is closer to what my s3fs-only script was doing.

The extra time in the zarr logs is between the following log messages:

[code]

This is on the boundary in the log between the last message about writin

[2022-03-09 19:37] christine-e-smit commented on #938
Thank you for your help and patience.

[2022-03-09 20:10] joshmoore commented on #965
With @benjeffery's #966 closed, is anyone working on one of the suggestions above?

[2022-03-10 21:43] jni commented on #965
Not me I'm afraid... :disappointed:

[2022-03-16 22:43] MSanKeys963 commented on #977
Hi @sshleifer.

Thanks for asking the question. Could you please post your question in the [discussion](https://github.com/zarr-developers/zarr-python/discussions) section of zarr-python?

[2022-03-16 22:46] MSanKeys963 commented on #971
Hi @JoOkuma.

Thanks for posting your question.

As it happens we have just opened [discussions](https://github.com/zarr-developers/zarr-python/discussions) section in zarr-python and it'd be great if you could post your question there!

Thanks!

[2022-03-20 00:04] jni commented on #965
@joshmoore I'm not sure how much fire this is causing. If reverting the default value change from #853 is a quick fix, perhaps we should go with that until this issue can be resolved "the right way". What do you think?

[2022-03-21 14:51] joshmoore commented on #965
Ah, interesting. If we don't hear from any objections or alternative proposals, I'd be happy to push that out quickly.

[2022-03-21 20:45] KlokMiraj commented on #925
Hi,
I'd like to try on this issue if it's not already solved.
Many thanks :)

[2022-03-23 04:06] parthxtripathi commented on #978
Hey @joshmoore , can i work on this? Could you please let me know what all pre-commit checks are required in zarr?

[2022-03-23 13:07] joshmoore commented on #978
Hi @parthxtripathi.

That'd be great. Sure.

I imagine we will need to go through this iteratively and find the checks which can be added without *too* many changes, and then separate out those checks which require more work.

My starting point is usually:

https://github.com/ome/ome-zarr-py/blob/master/.pre-commit-config.yaml

but welcome to hear/see suggestions from others.

[2022-03-23 15:28] joshmoore commented on #925
That'd be great, @KlokMiraj.  It's not solved as far as I know, but I'd definitely suggest starting by reproducing.

[2022-03-23 15:49] paskino opened #990 "Remote access to Zarr file with SSH fails with certain chunking configurations"
I saved on a server, a 1601x1024x1024 array in a Zarr file with chunking and I access it from a client with fsspec over SSH.

If I save with `chunks=[1,1024,1024]` I can correctly access the data on the client. If I use a different `chunks=[32,32,32]`, although the file on the server contains the correct information, when accessed on the client it does not contain the same information:

[code]
On

[2022-03-23 17:15] Alt-Shivam commented on #337
Hey @jakirkham ,
The link for (storage comparison blogpost) is broken.
Can you provide me with the working one, If possible
Thanks

[2022-03-23 17:25] jakirkham commented on #337
Since that is not our blog, it is not something we can really affect. Maybe something like [archive.org]( https://archive.org ) has a mirror of it (though am not seeing one atm).

[2022-03-23 21:07] tasansal opened #991 "Proposal: Add Array.blocks using new BlockIndexer (Prototype Code Included)"
#### Problem description

I have a use case downstream where we want to access "blocks" of chunks. I have implemented a prototype that functions like [`dask.array.Array.blocks`](https://docs.dask.org/en/latest/generated/dask.array.Array.blocks.html#dask-array-array-blocks).
It uses the existing `zarr.indexing` machinery and matches the API of existing indexers.

This allows us to pull a "block" of

[2022-03-24 06:13] sudoyolo commented on #514
Hi @joshmoore Sir, I moved Tutorial.rst to an .ipynb file. Please check it out:

https://colab.research.google.com/drive/1qqVY0KxVvEFyifPgWpbyG2P5RdQj9_TZ?usp=sharing

Here are a list of pointers of what I did:
- Used Google Colab for building this notebook over Jupyterlab as it eliminates the need to add Jupyter as dependency.
- Capitalized first letter of each word of the headings, expect for ar

[2022-03-24 18:42] Alt-Shivam commented on #337
No worries @jakirkham
Thanks for the reply.

[2022-03-25 04:42] vyasr commented on #965
I'm happy with a temporary reversion of the default. Making `write_empty_chunks=False` makes sense to me, but not at the expense of the ability to faithfully represent non-numeric values. My 2c: until a suitable solution is found I think it's fine to require users who want the space savings to opt in by setting the flag.

[2022-03-25 06:31] jakirkham commented on #965
Is it only with `object` or `bytes`?

If so, maybe there is a middle path where we do a partial reversion. IOW set `write_empty_chunks=None` if we are working with `object`s or `bytes` we replace `None` with `False` otherwise we set `write_empty_chunks` to `True`.

This way we can keep the performance benefits for those interested in them without causing issues for types that are poorly handled cu

[2022-03-25 06:32] parthxtripathi commented on #978
Thank you for the details! Just to confirm, this issue requires adding the `pre-commit` configuration to `zarr-python` right? As a first step, should I add the configuration available in `ome-zarr-py` to my fork and create a PR? Then I can iteratively work on the configuration!

[2022-03-25 12:20] benjeffery commented on #978
Having been through this process over at `tskit` I can recommend adding a minimal `pre-commit` configuration in a PR, then adding additional rules one-by-one in separate PRs. This makes it clear what changes to the code/formatting are from which rules  and allows discussion of each one. Some (e.g. black, bugbear etc) can cause a lot of changes, depending on the existing state of the code.

You'll

[2022-03-25 12:27] tasansal commented on #991
This seems to also solve and close: #543 and #545

Also, potentially may be used as a common indexer for Array._chunk_getitem(s).

Thoughts?

[2022-03-25 13:39] joshmoore commented on #978
Thanks, @benjeffery. @parthxtripathi, following that logic, I could see this as an ordering of the hooks:

### Should require minimal changes (if any)
- https://github.com/PyCQA/flake8

### Hopefully only a few changes
- https://github.com/pre-commit/mirrors-mypy
- https://github.com/adrienverge/yamllint.git
- https://github.com/asottile/pyupgrade

### Moderate changes
- https://github.com/pre-com

[2022-03-25 17:35] tasansal commented on #991
@joshmoore
That is pretty much all of it in pieces. I already implemented it in my dev environment and seems to work as expected.
Everything is `zarr` so `dask` is not required for any part of it.

It passes my simple manual tests, but unit tests need to be written for sure. Especially for edge cases like `-1` index etc.

If there are existing mechanisms to calculate chunk boundaries, that can als

[2022-03-25 19:33] joshmoore commented on #991
:+1: Sounds good, @tasansal.

[2022-03-28 21:17] rabernat opened #993 "Cannot create FSStore for unlistable http URLs"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

We often store Zarr on HTTP servers that don't support directory listing. This works because Zarr consolidated metadata tells us everything we need to know about the data available, so no listing is required.

However, Zarr won't let me create such a Store, as shown in the example above.

[2022-03-28 21:43] RichardScottOZ commented on #535
I now have a 200K smallish hdf5 type files to deal with, so an 'automatic' metadata creator sounds handy.

e.g. https://geoh5py.readthedocs.io/en/stable/

@rsignell-usgs @rabernat  - any idea where you would start?

[2022-03-28 21:44] rabernat commented on #993
This is the check that triggers the error

https://github.com/zarr-developers/zarr-python/blob/8d2b65173bcfcb72ec48630c612fed63fc9fca3b/zarr/storage.py#L1331-L1332

And here is what happens when you try to call `open_conslidated` on such a store

[code]
[code]

[2022-03-28 22:04] satra commented on #535
there is also this now, which could help: https://github.com/fsspec/kerchunk

[2022-03-28 22:49] rsignell-usgs commented on #535
Thanks @satra !  Yes, https://github.com/fsspec/kerchunk should help -- [version 0.0.6](https://anaconda.org/conda-forge/kerchunk) now not only allows merging files along a dimension, but merging variables together!   Give it a shot @RichardScottOZ  and raise an issue on https://github.com/fsspec/kerchunk/issues and we'll try to help out and perhaps improve the docs!

[2022-03-28 22:50] RichardScottOZ commented on #535
Thanks Rich, will do, having a look now.

[2022-03-29 14:19] joshmoore commented on #991
For my part, I'd say go for it. :+1:

[2022-03-29 20:51] TheChymera commented on #961
@joshmoore I went over this again, and this is the list of tests that fail (interestingly, for some reason, pytest got stuck on each and every one of them, and didn't just go through the whole suite collecting the failures).

[code]

It seems `test_object_arrays_vlen_bytes` is the common denominator. Any idea if this can help us figure out what's wrong (and possibly indirectly help figure out what

[2022-03-30 03:06] joshmoore commented on #961
Any chance of getting a backtrace (e.g. with `gdb`)?

[2022-03-30 13:56] joshmoore commented on #514
Repeating here from a recent chat with @sudoyolo: looking forward to seeing the notebook as a PR. It will need some additional work to integrate it into the readthedocs output. :+1:

[2022-03-30 14:05] rabernat commented on #514
In order to integrate the notebook into the docs, I highly recommend [myst-nb](https://myst-nb.readthedocs.io/en/latest/). We use it on all our documentation sites. It supports all of the fancy sphinx syntax in markdown via myst.

[2022-03-30 14:38] martindurant commented on #993
Hm, yes - for the special case of consolidated, we should just attempt to read the .zmetadata immediately; otherwise a .zarray/.zattrs would be OK too for a bare array, but we would not be able to read any non-consolidated group without ls.

[2022-03-30 20:20] martindurant commented on #993
More info: the http driver concludes that something is/may be a directory, if it includes HTML links to URLs have the prefix of the original URL. However, I think what I wrote above is still correct, we should not need to do isdir at all for this case.

[2022-03-31 17:48] vyasr commented on #965
I think that's effectively @jni's solution of using a dict of known conversions, right? That sounded like a good solution, but in lieu of having that implemented soon I figured reverting the change would be a near-0 energy barrier way to avoid breaking workflows until someone got around to implementing the proper solution. Just my opinion though, I'm not a stakeholder on this project :)

[2022-04-01 13:14] tomwhite opened #1000 "Storing quiet and signalling NaNs in Zarr"
A IEEE 754 NaN is not a single value, but a set of possible values. While it's possible to store different NaN values in Zarr, there are some subtleties, particularly with fill values.

In [sgkit's VCF Zarr format](https://github.com/pystatgen/vcf-zarr-spec/blob/main/vcf_zarr_spec.md#missing-and-fill-values) we use a [quiet NaN](https://en.wikipedia.org/wiki/NaN#Quiet_NaN) to indicate that a float

[2022-04-01 13:17] tomwhite commented on #965
I agree with this. That's not to say that it can't be made the default in the future, but it probably needs time to bed in.

(I've also encountered problems with this change which mean I need to pin dependencies to avoid Zarr 2.11.0. See #1000)

[2022-04-01 15:31] rabernat commented on #993
So what is the path forward here? Can we just remove this check and make FSStore optionally unlistable? Will that break anything?

[2022-04-01 15:36] martindurant commented on #993
Personally, I think it's fine to skip the check and allow any error to happen later upon trying to list a group's members.

However, this is for zarr v2, so we would need a backport?
Alternatively, we could offer an option on the http FS implementation to always give True for isdir(), since any URL *might* contain more pages in URLs of the same prefix. This would not need a change in zarr.
[code]

[2022-04-01 19:27] vyasr commented on #965
@jni @joshmoore @jakirkham I created a patch in #1001.

[2022-04-04 14:18] #965 closed

[2022-04-04 16:57] rabernat commented on #990
👋  @paskino - thanks for opening this issue! Accessing Zarr over ssh via fsspec is a powerful way for interacting with remote data in a secure way. This way of working is relatively rare, so it seems you have hit some sort of obscure bug. We can help you sort it out.

My guess would be that the issue is in the fsspec sftp implementation. To debug, could you try the following?

[code]

This will he

[2022-04-04 21:39] paskino commented on #990
The chunking that does not work shows:

[code]

The chunking that works shows:

[code]

[2022-04-04 21:46] rabernat commented on #990
Ok, this shows that the problem is not really at the zarr level but at the fsspec level. It looks like you're not able to list subdirectories in the first store, but you are in the second. At this point, I would suggest verifying 💯 that there is not a permission problem on your files. Can you connect to the host via sftp using a different client and verify that you can see the directory contents?

[2022-04-05 10:01] paskino commented on #990
Hi @rabernat thanks for looking into this! I've re-checked all my implementation and I'm glad to say that it all works as it should!

The problem was much simpler than expected: I am a bit ashamed to say that I used the wrong path to the file. Somehow the directory I was looking into, there was a file with the same name that did not contain any data, hence the problem.

[2022-04-05 21:22] christine-e-smit commented on #938
I've run a few more tests and I'm unfortunately still not sure were the slow down is happening.

1. I ran a test where I resized the zarr array, but I didn't actually write to the array. So the number of objects in the bucket didn't change. --> There was no slow down! So, the slow down does appear to be related to the number of objects in the bucket or maybe in the directory where the .zarray obje

[2022-04-05 21:25] christine-e-smit commented on #938
Obviously, I accidentally swapped the x and y axis labels. Sorry:

![image](https://user-images.githubusercontent.com/14983768/161852322-7e750c45-4100-42b5-8862-abe21f05c355.png)
![image](https://user-images.githubusercontent.com/14983768/161852338-50937388-7a7c-4fc3-97ae-f849b5af823c.png)

[2022-04-15 09:48] #697 closed

[2022-04-21 09:18] Karol-G opened #1010 "[Question] Differences of the read and write mode?"
Hi,

one can set the mode of a zarr array to be read or write (amongst other modes). What are the different effects of such modes.
In particular if I create a larger-than-RAM array in write-only mode, does it mean that no memory will be occupied by the array?
If yes, is this also true if I write into different chunks in this write-only array?

Best,
Karol

[2022-04-26 15:52] christine-e-smit commented on #938
Hello! My colleague Hailiang is braver than I am and actually dove into zarr's code base. We think he found where the issue we're seeing lies. If you look at this section of code:

https://github.com/zarr-developers/zarr-python/blob/e381bf76261a1cc9c10613465ab39b968a24737b/zarr/core.py#L2430-L2441

in `_resize_nosync()`. The code is basically trying to figure out if any chunks need to be deleted a

[2022-04-26 16:10] hailiangzhang commented on #938
Thanks a lot for your very detailed update @christine-e-smit !
Christine has a very good comment on the performance concern when the maximum number of dimensions is very large (since I need to iterate over dimensions in [my PR](https://github.com/zarr-developers/zarr-python/pull/1014). Actually I talked to Christine just now, and thought probably this is not a big concern for now, since [the limit

[2022-04-27 02:41] grlee77 commented on #938
Yeah, I think assuming a small number of dimensions is very reasonable. Relatively fewdatasets will have more than 4 or 5 dimensions. Usually 2-3 spatial with possible extra dimensions for channels, time, batch, etc.

[2022-05-03 04:12] hailiangzhang opened #1017 "Possible bug with Zarr array "resize""
#### Problem description
For a zarr array with shape of `(4,6)` and chunksize of `(2,3)`, I did the following:
1. reduce its shape to be `(1,1)`
2. increase its shape back to be `(4,6)`

I found that the final array after step-2 preserved the original values in the first _whole_ chunk.
However, as an end user, I am expecting only the first element to be preserved (since I had already shrunk the sh

[2022-05-03 06:47] joshmoore commented on #1017
@hailiangzhang, interesting. I can definitely understand your surprise. Reading https://zarr.readthedocs.io/en/stable/api/core.html?highlight=resize#zarr.core.Array.resize, however, it's only clear (at least for me) that out-of-bound chunks are removed not that the in-bound chunk is re-written. Assuming that's functionality that someone already relies on, it might take an extra argument to `resize

[2022-05-03 10:32] oeway opened #1018 "Creating ZipStore with file-like object"
The current ZipStore implementation assumes the input is [always a path](https://github.com/zarr-developers/zarr-python/blob/27cf31555975eaeb34e802bfdd59c11222f91597/zarr/storage.py#L1668) which becomes a bit limiting when dealing with in-memory file or virtual file object (e.g. in Pyodide in the browser). The virtual file object support is crucial for making zarr library useful in the browser env

[2022-05-03 13:04] joshmoore commented on #1018
Hey @oeway. Thanks for the suggestion! In your mind is what we need the addition of an optional argument for `path`? Seems like the only possible downside of that would be if someone was expecting the exception from `os.path.abspath(path)` to detect `None`.

[2022-05-03 13:44] oeway commented on #1018
How about we rename the first argument `path` to `file_or_path`? Then we try to infer the path based on the types:
[code]

[2022-05-03 14:09] oeway commented on #1018
Good point! `ZipStore.from_file` sounds good to me!

[2022-05-03 19:27] jakirkham commented on #1018
Think it would be ok to just accept `ZipFile` instances in `path`. We can just clarify the docs on this point.

We have [similar flexibility in Dask]( https://docs.dask.org/en/latest/generated/dask.array.to_zarr.html?highlight=url%3A ).

[2022-05-03 20:21] hailiangzhang commented on #1017
Ah, probably this is not very surprising based on the notes you provided:)

So, in this case, I can [add the testing to my PR as we originally planned](https://github.com/zarr-developers/zarr-python/pull/1014#issuecomment-1115230278).

In the long term, as you mentioned above, probably we can add an extra argument to `resize()` for rewriting (which maybe useful and less confusing for some end user

[2022-05-04 02:48] jakirkham commented on #1017
Deletion can be fairly expensive so I think this was implemented intentionally to avoid deleting data and instead being a metadata only change (fairly quick). Maybe it is worth documenting that `resize` does not necessarily delete the data?

[2022-05-04 02:49] jakirkham commented on #1018
As a side note we might consider using position only and keyword only arguments in Zarr 3 to avoid these issues around renaming arguments.

[2022-05-04 04:30] hailiangzhang commented on #1017
@jakirkham , agreed (and that's actually what I would imagine:)

Since `resize` actually deletes data at chunk level of resolution, this could be a little bit unexpected by the end users (who don't need to be aware of the internal data organization), and therefore yes, we could probably explain this more clearly in the documentation (bold is what I added):

If this looks correct and helpful, I wil

[2022-05-04 06:33] joshmoore commented on #1017
:+1: for the doc improvement. I've updated the title of this issue to:

* `resize(): Improve docs & control of what is modified`

with the control being potential new arguments, etc.

[2022-05-04 06:35] joshmoore opened #1019 "[v3] consider using position only and keyword only arguments"
As a side note we might consider using position only and keyword only arguments in Zarr 3 to avoid these issues around renaming arguments.

_Originally posted by @jakirkham in https://github.com/zarr-developers/zarr-python/issues/1018#issuecomment-1116879414_

[2022-05-04 06:36] joshmoore commented on #1018
Issue created, @jakirkham.

So the logic would be:
* is_zip_file()
* is_file_like()
* is_path_or_string_like()

Or would you just pass a ZipFile, @oeway ?

[2022-05-04 06:40] oeway commented on #1018
Hi, for my case it's a fake file object making http requests to a file with range header, so not a zipfile.

[2022-05-04 06:53] jakirkham commented on #1018
Thanks Josh! 😄

Intriguing would be curious to look at the object if you don't mind sharing 🙂

Does it support one of [the file ABCs]( https://docs.python.org/3/library/io.html#class-hierarchy )? Or could it? If so, then it would be pretty easy to check if it `isinstance` of one of those and use it

[2022-05-04 11:27] joshmoore commented on #149
I'd propose that this could likely be migrated to zarr-specs if not a more design-y or perhaps community repo.

cc: @ivirshup in case there's interest.

[2022-05-04 11:38] #993 closed

[2022-05-04 11:48] ivirshup commented on #149
I'd totally agree with that @joshmoore.

I think it's pretty easy to specify a dataframe/ table on top of zarr, and don't think it needs to be defined in the core zarr spec.

That said, table support could be improved by:

* irregular chunking
* some effort toward chunks having binary compatibility with arrow buffers

But these don't need tables to be in the main spec.

[2022-05-04 17:46] jakirkham commented on #1018
cc @martindurant (in case this is of interest especially given our ZIP discussion recently)

[2022-05-04 17:57] martindurant commented on #1018
I would point out that fsspec supports a zarr-compatible key-value store over any fs it can instantiate, including ZIP and in-memory. You can pass these directly to zarr.

[code]

[2022-05-05 01:26] hailiangzhang commented on #1017
Cool, I just sent [a small PR which adds the comments as described above](https://github.com/zarr-developers/zarr-python/pull/1022).
Thanks @joshmoore !

[2022-05-06 01:28] hailiangzhang commented on #1017
Hi, since my PR has been merged, feel free to close this ticket (and please let me know if I am supposed to do that:)

[2022-05-06 06:03] joshmoore commented on #1017
Happy to leave that up to you. If you think new method arguments are worth it, feel free to leave open. Otherwise, feel free to close.

[2022-05-17 09:02] brentp opened #1029 "indexing with list not supported"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

Based on [this](https://github.com/zarr-developers/zarr-python/pull/725/files) I expected this to work and to return the same rows as numpy. But it raises in index error.

#### Version and installation information

Please provide the following:

* Value of ``zarr.__version__``: 2.11.3

[2022-05-17 09:15] joshmoore commented on #1029
Hi @brentp. Which cells are you expecting to receive? e.g.

[code]

[2022-05-17 09:41] brentp commented on #1029
Hi, I expect to get the same result as numpy, but index it's an indexerror. I have updated the example to be more complete with this code:
[code]

[2022-05-17 09:49] joshmoore commented on #1029
Ah, I see. I remember there being limitations but I don't remember this one. @jni?

[2022-05-17 20:18] joshmoore commented on #1029
`z.oindex[rows]` certainly returns the same values, but `vindex` is being used by `z[rows]`.

[2022-05-17 20:21] jakirkham commented on #1029
There's some overlap between these which can be a kind of confusing aspect of advanced indexing. Hence why `vindex` & `oindex` were added before advanced indexing was

[2022-05-18 05:06] jni commented on #1029
Yes, basically as I remember it @shoyer raised the point that mixing integer indexing with slices (which this use case implicitly uses) can be tricky to get right, so we left that out of the fancy indexing implementation in #725 for a braver soul to tackle. :stuck_out_tongue_winking_eye: The discussion starts here:

https://github.com/zarr-developers/zarr-python/pull/725#issuecomment-832192992

As

[2022-05-18 10:34] joshmoore commented on #877
Although the discussion has moved for the moment to the [storage transformers](https://github.com/zarr-developers/zarr-specs/pull/134), there are perhaps interesting use cases in https://forum.image.sc/t/ome-zarr-chunking-questions/66794 regarding the ability to stream data data directly from sensors into a single file that might be worth considering.

[2022-05-23 19:35] JamiePringle commented on #691
I would like to re-up this question. I am running python 3.9.12 and zarr 2.11.3, and when I try to run

[code]

It fails with a traceback that culminates with

[code]

This makes it rather hard to use ragged arrays... Am I doing something dumb? Or is something broken? What I really need to do is write ragged arrays to zarr data stores.

For what it is worth, when I type z.filters it returns ```[VL

[2022-05-23 20:11] jakirkham commented on #232
@constantinpape, do you know if this is still relevant? This came up in relation to Zarr/N5 compatibility, but don't know if this is still an issue

cc @joshmoore (for vis)

[2022-05-23 20:35] JamiePringle commented on #691
The issue is with the save function -- the following does not use the save convenience function, and works
[code]

[2022-05-23 20:48] JamiePringle opened #1035 "bug in save for variable length arrays?"
This is related to the issue in #691, but with more specifics. Saving a variable length (ragged) array with zarr.save fails, but creating the file without the convenience function works.   I am running python 3.9.12 and zarr 2.11.3, and when I try to run

[code]

It fails with a traceback that culminates with
[code]
This makes it rather hard to use ragged arrays... Am I doing something dumb? Or is

[2022-05-23 20:52] jakirkham commented on #1035
Can you please also include `conda list` or `pip list` as appropriate?

[2022-05-24 13:15] JamiePringle commented on #1035
Attached is the output of conda list. Cheers, Jamie

[conda_list.txt](https://github.com/zarr-developers/zarr-python/files/8762951/conda_list.txt)
t

[2022-05-25 11:22] joshmoore commented on #829
Another possible option: https://sphinx-github-changelog.readthedocs.io/en/latest/ (...as I struggle with the anchors for pre-releases ...)

cc: @MSanKeys963

[2022-05-25 11:43] malmans2 opened #1037 "Error when using attribute keys with mixed types"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]
[code]
#### Problem description

I'm not able to assign attributes using keys with different types. Looks like the issue is coming from `json` that is trying to sort the keys. I guess there are 3 options:

- **Only strings are supported**: Raise an error if unsupported types are used?
- **Mixed types are not suppor

[2022-05-25 18:09] shoyer opened #1039 "Why is path required for opening Zarr v3 groups?"
With Zarr v2, I can open a group by passing either a valid Zarr store or with a path specified as a string, i.e., like `zarr.open_group(store_or_path)`. As I understand it, paths get normalized into store objects, e.g., to a local filesystem or via fsspec.

With Zarr v3, as currently implemented, the `path` argument is apparently now required, per https://github.com/pydata/xarray/pull/6475. This f

[2022-05-26 15:00] joshmoore commented on #232
And further cc @d-v-b

[2022-05-26 15:34] d-v-b commented on #232
Thinking about the pros and cons of expanding the configuration surface area to cover this. As a "pro", it would erode some of the differences between n5 and zarr, as n5 uses F order for the chunk IDs. Although other differences would still remain, like the concrete names of the metadata files, I think progress towards unification is nice.

I can't really think of any cons right now besides the ad

[2022-05-26 16:57] joshmoore commented on #829
- @jakirkham suggests https://github.com/regro/rever
- @alimanfoo suggests looking at how dask does it.

[2022-05-26 16:58] jakirkham commented on #829
We've used [`rever`]( https://github.com/regro/rever ) in `conda-smithy`

[2022-05-26 17:06] jakirkham commented on #829
Josh mentioned [this changelog proposal]( https://keepachangelog.com/en/1.0.0/ ).

[2022-05-27 10:38] constantinpape commented on #232
I also still think this is relevant and I like your initial proposal from https://github.com/zarr-developers/zarr-python/issues/232#issue-291746455.

[2022-05-27 13:34] joshmoore opened #1041 "Update build status badge"
Since the move from Travis, the build status has been showing "unknown":

![](https://files.slack.com/files-pri/T3TSSEJHE-F03HNG48G5P/screen_shot_2022-05-27_at_15.31.19.png)

An update is needed, but a choice of which workflow (or all) is to be shown must be made.

see: https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/adding-a-workflow-status-badge

[2022-05-28 02:42] Alt-Shivam commented on #1041
I'm interested in this issue.
will generate a PR soon.

[2022-05-29 06:16] Alt-Shivam commented on #1041
Hey @joshmoore
As I can see, Travis CI is giving the same "unknown" status for many repos
So now, we've 3 alternatives to go with
- Circle CI
- GitLab
- or we can go with GH actions, like this
![image](https://user-images.githubusercontent.com/81817735/170854810-0f917619-86e4-4cb3-ac41-5f7e9a1e9c63.png)

[2022-05-29 13:13] joshmoore commented on #1041
It should definitely be the gh action ones. And sure, this looks like a good way to start. :+1:

[2022-05-31 14:25] joshmoore commented on #1029
Sorry, I failed to note that no one else has responded. I'm all for incremental steps, but maybe there's a question of how to document the rest of the steps needed for the likes of @brentp.

[2022-06-13 08:30] aliaksei-chareshneu opened #1044 "Optimal way of converting zarr array to numpy array"
Dear all,

Could you tell me what is the optimal way of converting zarr array to numpy array?

Currently I am using:
[code]

But this, as far as I understand, loads entire array into memory.

Are there better alternatives?

Best regards,
Aliaksei

* Value of ``zarr.__version__``: 2.10.3
* Value of ``numcodecs.__version__``: 0.9.1
* Version of Python interpreter: 3.8.2
* Operating system (Linux/Win

[2022-06-13 11:17] rabernat commented on #1044
Thanks for your question @aliaksei-chareshneu!

A numpy array is in memory, by definition. So if you want to convert your zarr array to numpy array, you have to load it into memory.

Perhaps you could say more about what you hope to achieve. What would "optimal" mean to you here?

[2022-06-13 13:40] aliaksei-chareshneu commented on #1044
@rabernat, thank you for the clarification. Well, I just think of reducing memory consumption when possible.
So if I need to use numpy array later on (e.g. to calculate max on it), there is no other way except [...]?

[2022-06-13 13:54] rabernat commented on #1044
Yes, there is another option! If you want to compute on your array but it's too big to fit in memory, you should use [Dask Arrays](https://docs.dask.org/en/stable/array.html). Dask can load directly [from Zarr](https://docs.dask.org/en/stable/array-creation.html#zarr).

[2022-06-21 15:57] aliaksei-chareshneu opened #1048 "Chunks in one file"
Dear all,

Could you tell me if there is a way to concatenate chunk files into one file, or a storage option which supports just one file per array with all chunks inside?

Best regards,
Aliaksei

* Value of ``zarr.__version__``: 2.10.3
* Value of ``numcodecs.__version__``: 0.9.1
* Version of Python interpreter: 3.9.0
* Operating system (Linux/Windows/Mac): Windows 11
* How Zarr was installed (e.g

[2022-06-22 00:18] jakirkham commented on #1048
In addition to zip other options include:

* [`SQLiteStore`]( https://zarr.readthedocs.io/en/stable/api/storage.html#zarr.storage.SQLiteStore )
* [`LMDBStore`]( https://zarr.readthedocs.io/en/stable/api/storage.html#zarr.storage.LMDBStore ) (requires `lmdb`)

One could use other single file formats as long as one can come up with a way to access them via [the `MutableMapping` API]( https://docs.py

[2022-06-22 15:36] joshmoore commented on #1039
The short version is that previously all (meta)data needed to open a group was at one location but now there is root metadata and the metadata tree is separated from the data tree. The result is that it's much more like opening a Zip file: "open foo.zip and then load /some/file"

cc: @grlee77 for a more complete backstory.

@jbms has proposed notation of some form to simplify the usage. Taking the

[2022-06-23 08:58] joshmoore commented on #1037
see:
 * https://bugs.python.org/issue25457
 * http://json-schema.org/understanding-json-schema/reference/object.html "in JSON all the keys must be strings"

I think I'd tend towards "Only strings are supported" but another sub-option would be to print a warning and automatically stringify.

[2022-06-26 11:17] #1048 closed

[2022-06-26 11:19] aliaksei-chareshneu opened #1057 "ZipStore arguments: 'w' vs 'x'"
Dear all,

Could you tell me what is the exact difference between 'w' and 'x' mode for ZipStore creation?
Also, what does it mean "truncate" here?
[code]
https://zarr.readthedocs.io/en/stable/api/storage.html#zarr.storage.ZipStore

Best regards,
Aliaksei

* Value of ``zarr.__version__``: 2.10.3
* Value of ``numcodecs.__version__``: 0.9.1
* Version of Python interpreter: 3.9.0
* Operating system (L

[2022-06-29 11:19] TheChymera opened #1059 "Tests fail on `=zarr-2.12.0` (and earlier versions)"
I get this error when trying to run the test suite (all logs include build and test output): https://ppb.chymera.eu/144569.log

I get a similar error with `=zarr-2.11.3`: https://ppb.chymera.eu/cd92be.log
And `=zarr-2.11.1`: https://ppb.chymera.eu/fd4f50.log
As well as `=zarr-2.10.3`: https://ppb.chymera.eu/a2114a.log

If you use ubuntu it might be difficult to catch this since it ships Python wit

[2022-06-29 12:03] joshmoore commented on #1059
The logs seem to consistently point to:

[code]

[2022-06-29 14:19] clbarnes commented on #1037
Agree on only supporting strings, much easier for everyone.

[2022-06-29 19:23] mike-lawrence opened #1061 "Writing to plaintext?"
When debugging projects using zarr, it would be convenient to be able to use my OS's file explorer to preview the content of datasets as plaintext of some sort (ex. csv). None of the storage formats achieve this, right?

[2022-06-29 19:25] mike-lawrence opened #1062 "Saving to plaintext?"
When debugging projects using zarr, it would be convenient to be able to use my OS's file explorer to preview the content of datasets as plaintext of some sort (ex. csv). None of the storage formats achieve this, right?

[2022-06-30 05:54] aliaksei-chareshneu commented on #1057
@clbarnes, thank you very much.

Regarding 'r' mode: what could happen if store is not closed after reading?

Also, I thought store could be opened normally without `with` statement (examples in the docs seem not to use it). Is it no longer the case?

[2022-06-30 11:12] clbarnes commented on #1057
Unlike most stores, the ZipStore obeys normal python file-opening semantics. Just like a python file (or zipfile), , the file is automatically closed when the object is garbage collected, but you're not in control of when that happens (and it can be dependent on how your script/ package is structured) so for certain usage patterns it can lead to unpredictable numbers of files being open at once.

[2022-06-30 11:31] clbarnes commented on #1062
Do you mean storing (or browsing) individual chunks as CSV? If you wanted to keep the dimensionality of the data in the chunks, CSV would only work for 1 and 2 dimensional data (but JSON could go the rest of the way). A text file with a list of numbers would closer to the binary format. I think the problem you'd have is that for all the structural formats Zarr supports, the internal chunks are lar

[2022-06-30 18:52] TheChymera commented on #1059
@joshmoore you it's probably more of: https://github.com/zarr-developers/zarr-python/issues/961 ?
If so we can close this and I can see how to get a better trace.

[2022-07-03 14:37] joshmoore commented on #1059
@TheChymera, agreed, thanks for making the cross-link.

[2022-07-03 14:37] #1059 closed

[2022-07-04 13:36] joshmoore commented on #1037
@clbarnes (or anyone else): and thoughts on completely disallowing versus stringifying arguments?

[2022-07-11 10:59] #1041 closed

[2022-07-11 12:41] joshmoore commented on #1037
@clbarnes, objection noted. I guess I'm most worried about the impact of the breaking change since at the moment a single update (`z.attrs[1] = "foo"`) gets you:

[code]

[2022-07-11 12:46] clbarnes commented on #1037
Maybe a couple of versions of noisy deprecation warnings, then? Even if it never actually gets patched out until v3.

[2022-07-11 12:52] joshmoore commented on #1029
Having apparently killed the conversation, I'm inclined to say, "Go for it, @jni! 👏🏽"

[2022-07-13 09:53] jni commented on #1029
I'm currently on leave, but a PR would be pretty easy, hopefully @brentp or someone else can handle it. This is the bit of code that needs modifying:

https://github.com/zarr-developers/zarr-python/blob/9ce2f328e9ff687c151cd73634f4d624590df817/zarr/core.py#L784-L789

Before the `else:`, add an elif clause:

[code]

For an appropriate implementation of "is just a list of integers." 😂

You probably

[2022-07-14 19:45] BGCMHou opened #1076 "Issues with using LRUStoreCache after invalidation"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

I am currently using the LRUStoreCache and need to periodically invalidate it. I receive the following error after I have invalidated a previously full cache:

[code]
I believe I am receiving this error because the [invalidate](https://github.com/zarr-developers/zarr-python/blob/9ce2f328e

[2022-07-14 20:11] joshmoore commented on #1076
Could you include the configuration of the store as well? This could be related to the consolidated store since that adds one extra key which could have upset the counts.

[2022-07-14 20:28] BGCMHou commented on #1076
Thanks for the quick reply! I am using an ABSStore:
[code]

The zarr file in the the blob storage container is consolidated and `.zmetadata` is present.  My code is calling `zarr.open_consolidated(store, mode='r')` and it works until I invalidate a full cache.  (However, it does not break after cache invalidation if the cache was not full).

[2022-07-14 21:38] joshmoore commented on #1076
What happens if you call `zarr.open_consolidated(cache, ...)` rather than on the store, creating a strict _sequence_ of store wrappers rather than multiple entry points (`cache` and `consolidated_store`)?

[2022-07-14 21:45] Saransh-cpp opened #1077 "Make bug tracker more accessible for newcomers"
The issue/bug tracker right now has no labels, and most of the issues don't start with a keyword (example - "BUG: This is not working" or "DOC: Missing docs for this"). Therefore, newcomers have a hard time navigating through the issues, which discourages them from contributing.

Ideally, the issue template should be updated (the current one does not use the new `YAML` format), and more issue temp

[2022-07-14 21:47] BGCMHou commented on #1076
Sorry, I mistyped. I am currently calling `zarr.open_consolidated(cache, mode='r')` not `zarr.open_consolidated(store, mode='r')`. Overriding the `invalidate` function in LRUStoreCache seems to have fixed my problem:
[code]

[2022-07-14 21:50] joshmoore commented on #1077
cc: @MSanKeys963 (on his return from ⛰️)

Thanks for the suggestions, @Saransh-cpp. We're definitely in a period of cleanup. If there are any issues that you have suggestions for labels/prefixes, feel free to let us know. (For GSoC, e.g., I spent some time updating [help-wanted](https://github.com/zarr-developers/zarr-python/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22))

Alternatively,

[2022-07-14 21:51] joshmoore commented on #1076
Nice! Do you want to see if that change as a PR passes CI?

[2022-07-14 21:54] BGCMHou commented on #1076
yes, please. Thanks!

[2022-07-16 14:09] Saransh-cpp commented on #1077
Thanks for the quick reply, @joshmoore! I'll definitely take up some work here!

[2022-07-18 15:02] TheChymera opened #1082 "Validate dummy data"
I am trying to put together a dummy ZARR file (ideally as small as possible, i.e. structured but empty) in order to provide a minimal exaple to test `.zarr` support for the BIDS data validator (more info on that here: https://github.com/bids-standard/bids-examples/pull/315 ).

I have found this website, and tried to upload my example data on my server, to see whether it's valid ZARR: http://resour

[2022-07-18 16:45] joshmoore commented on #1082
As @satra mentioned in https://github.com/bids-standard/bids-examples/pull/315#issuecomment-1184871664, your Zarr fileset is missing the metadata files that are necessary to decipher the data. Can you share how you created it and how you uploaded it?

[2022-07-18 17:56] grlee77 commented on #1039
quick update: I have a PR nearly done for root array/group support in v3. I just need to take a look again later today at one failing test case.

[2022-07-18 21:38] pavithraes opened #1084 "Add copy button to docs"
It'll be nice to be able to copy code snippets directly from the docs, [sphinx-copybutton](https://sphinx-copybutton.readthedocs.io/en/latest/index.html) is a lightweight tool that can be used for this.

(Personally, I'd really appreciate this. I help support the Dask community, which involves copying code from the Zarr docs quite often.)

[2022-07-19 15:56] FirefoxMetzger opened #1086 "Would it be possible to use a video codec as blob compressor?"
I have a video dataset of around 500k (half a million) videos that I want to ML on so I am looking for an efficient data format that I can use to quickly read the data. Each video is 10 sec long and subsampled to 256x256@10Hz, i.e., when decoded a video can be viewed as a `(frame, height, with, channel)` ndarray of shape `(100, 256, 256, 3)` and dtype `uint8` and the entire dataset as a ndarray of

[2022-07-19 17:42] joshmoore commented on #1062
Thanks for the suggestion, @clbarnes. I'm going to close this in favor of the discussion though: https://github.com/zarr-developers/zarr-python/discussions/1063

[2022-07-19 17:42] #1062 closed

[2022-07-20 10:45] ptallada opened #1090 "Zarr forces compression even when explicitly disabled"
#### Minimal, reproducible code sample, a copy-pastable example if possible

[code]

#### Problem description

Arrays created with no compression get compressed when added to a group.
A workaround is to set ``zarr.storage.default_compressor = None``, but that affects all arrays.
I've been looking through the documentation and couldn't find any other way :/

Seems that here, ``compressor`` value is

[2022-07-20 13:51] joshmoore commented on #1090
@ptallada: interesting! I would have thought that would work as well. I assume the issue you are dealing with is that the first array was created without a `store` instance. Until the issue there is found, creating the group first works:

[code]

[2022-07-24 09:34] GenevieveBuckley commented on #962
Hi @michael-sutherland, is there a reason you don't want to use the [dask.array.to_zarr()](https://docs.dask.org/en/stable/generated/dask.array.to_zarr.html) function?

I imagine there might be some cases where it makes sense, and this example could have lost that context when it was simplified to make debugging easier.

[2022-07-24 09:49] GenevieveBuckley commented on #962
I poked around with this a little, and there seem to be two places where things go wrong: one in dask, and one in zarr.

1. In `dask/array/core.py`, in the `astype` method of the `Array` class

This line:
https://github.com/dask/dask/blob/cfaf931072ae079313761d4d61e25956029abf6c/dask/array/core.py#L2237

If it were changed to this, I think we'd fix the dask part of the problem:
[code]

2. In zarr,

[2022-07-25 06:13] GenevieveBuckley opened #1092 "n5 format output by zarr not compatible with other programs"
### Zarr version

2.11.1

### Numcodecs version

0.9.1

### Python Version

3.9

### Operating System

Windows

### Installation

Installed using conda-forge

### Description

As described in [this issue](https://github.com/saalfeldlab/paintera/issues/457) the .n5 format output by zarr produces errors when users try to load it into other software requiring n5 input:

Error message:
[code]

This is

[2022-07-25 06:14] GenevieveBuckley commented on #1092
I'd be willing to work on this, if there is general agreement from the maintainers that this would be a useful thing to have

[2022-07-25 12:45] joshmoore commented on #1092
Thanks for this, @GenevieveBuckley! It would definitely be good to keep compatibility and perhaps to encode whatever the current disconnect is in https://github.com/zarr-developers/zarr_implementations so it doesn't happen again.

cc: @d-v-b who typically takes care of the `n5.py` module.

[2022-07-25 13:58] d-v-b commented on #1092
Zarr's implementation of n5 is at variance with the n5 spec -- when writing an array to the root node, we need to insert the `n5` metadata attribute in `{store}/attributes.json`. Right now I think that attribute is only written to the `attributes.json` for groups, so we should fix this. I can whip up a PR shortly unless you want to spearhead it @GenevieveBuckley

For this to work today, you can sp

[2022-07-26 03:47] GenevieveBuckley commented on #1092
I might have some time for this tomorrow or Friday. I'll aim to give it a go.

If you don't hear anything from me by next week, that means I didn't find the time, and then you are welcome to go ahead yourself.

[2022-07-26 06:58] vietnguyengit commented on #962
Hi guys, Google brings me here, I recently face the same error as well:

![image](https://user-images.githubusercontent.com/26201635/180943256-cd8e0919-8b65-4a85-bdb3-f60b4f9b46b6.png)
![image](https://user-images.githubusercontent.com/26201635/180943169-89145851-2a9a-4f84-ad8f-0de3df823995.png)

[2022-07-27 05:54] GenevieveBuckley commented on #962
On the dask side of things, I've opened an issue and PR:
* Issue https://github.com/dask/dask/issues/9318
* PR https://github.com/dask/dask/pull/9317

As discussed above, this won't completely fix the problem here.

[2022-07-27 06:05] vietnguyengit commented on #962
Thanks @GenevieveBuckley , hopefully, this will solve the issue on my side.

[2022-07-27 07:16] GenevieveBuckley commented on #962
Yes, let us know!

[2022-07-27 12:27] joshmoore commented on #962
cc: @madsbk just in case

[2022-08-02 14:00] madsbk commented on #962
I agree, calling `.compute()` in `ensure_ndarray` is doable but I don't think it is desirable. Zarr

Instead, I think
I think the example here is backwards.

[2022-08-02 14:07] madsbk commented on #962
I agree, calling `.compute()` in `ensure_ndarray` is doable but I don't think it is desirable. We already support any data type that implements [`NDArrayLike`](https://github.com/zarr-developers/numcodecs/blob/main/numcodecs/ndarray_like.py#L25) so it should be possible to wrap a `dask.array` in a class that implements [`NDArrayLike`](https://github.com/zarr-developers/numcodecs/blob/main/numcodec

[2022-08-02 14:26] martindurant opened #1104 "async zarr"

[2022-08-02 19:39] zndr27 opened #1105 "Issue with xarray and zarr when dimensions start with "meta""
### Zarr version

2.12.0

### Numcodecs version

0.10.1

### Python Version

3.8.10, 3.10.5

### Operating System

Linux

### Installation

pip

### Description

Currently I'm working with xarray for MRSI analysis. I have been using xarray datasets with one the dimensions labeled as "metabolite." Previously I have been able to save and load the data to zarr with no issues using xr.Dataset.to_zarr

[2022-08-03 06:26] GenevieveBuckley commented on #962
I'm +1 on redirecting everyone back to use the `dask.array.to_zarr` method instead of making additional changes here.

[2022-08-03 14:00] joshmoore commented on #1105
Thanks, @zndr27. I assume there needs to be a separator included in:

[code]

like `"meta/"`. cc: @grlee77

[2022-08-03 14:36] jstriebel opened #1106 "v3 stores: Implement efficient get/set_partial_values"
In #1096 `get/set_partial_values` methods were introduced to Zarr v3 stores. The provided method is a viable fallback for stores that cannot read and write partial objects. Other stores however should implement optimized methods, such as fsspec-based stores (using read_block). It might be useful that stores indicate if they have fast partial read/write methods, so that strategies such as partial d

[2022-08-03 14:43] martindurant commented on #1106
I believe that the most important use case for this is actually uncompressed arrays! That's a much simpler code path and reads no partial-reader (also happens to be the only one important to me for now).

How are you proposing that get_partial_buffer should be called? At the moment in (v2) Array._get_selection we iterate over the selections for each chunk, so we have the information right before h

[2022-08-04 04:44] TomasPuverle commented on #691
I can reproduce the above with 2.12.0 and also with the pickle codec.  As noted in another issue, things work if the array is created as part of the specified store; if not and the array is just assigned, or copied into the destination using `zarr.copy` the above error (or a warning in the case of `zarr.copy`) occurs.

Are there any known/recommended workarounds?

Thank you!

[2022-08-04 19:07] #1092 closed

[2022-08-04 21:40] jstriebel commented on #1106
Indeed, that's a great use-case!

I'll try to dump my thoughts about them:

I guess there are at least two ways:
* Simply store the partial data as-is and pass it on,
* use sth. like the PartialReadBuffer or extend it, so that the partial data has a similar interface as the whole chunk.

To solve this more holistically, the compressor (or a dummy for uncompressed arrays) should be able to tell if

[2022-08-06 01:40] joshmoore commented on #962
@michael-sutherland, can you let us know if you've found a solution that works for you?

[2022-08-06 02:15] michael-sutherland commented on #962
I ended up moving to a custom solution using an H5 file with a similar structure.  My application involved displaying a 2D mosiac that was being generated from a tool (in this case an X-ray microscope) in "real time".  I don't know the area ahead of time and I needed to be able to expand the arrays and update the pyramid as I went.  It is all working now, although I'd prefer a more standard format

[2022-08-06 02:31] #1076 closed

[2022-08-06 16:49] miccoli commented on #156
I was recently hit by this very same problem, with reference to HDF5 files, which also allow for array attributes.

For example from `h5dump` I have
[code]
which are rendered by `h5py` as
[code]

When converting from HDF5 to ZARR, `zarr.copy_all` fails with
[code]

Since I have a bunch of files to convert I implemented a quick fix in miccoli/zarr-python@380ee7c07

I'm not sure if this is of genera

[2022-08-07 02:00] TomasPuverle commented on #1018
I was just looking at the same problem.  Creating from another `ZipFile`, or `file` (e.g. `io.BytesIO`) would be super useful.

I was actually looking at potentially contributing this but there are a number of places in `ZipFile` where the `.zf` is recreated from `self.path` again.  That may be an issue if en external file (instead of a path) is provided, no?

[2022-08-07 12:45] martindurant commented on #1018
FSStore already allows for this. In fsspec, you can pass a URL like "zip::s3://bucket/file.zip", or you can pass explicit arguments to the ZIP backend if you like. You don't need to rewrite ZipStore.

[2022-08-07 16:50] TomasPuverle commented on #1018
Hi @martindurant, thanks so much for your response!

I have been looking at the documentation for `fsspec` and the "zip" filesystem is documented as being read-only: https://filesystem-spec.readthedocs.io/en/latest/api.html#fsspec.implementations.zip.ZipFileSystem.  I was able to successfully *read* from an `fsspec`-based zip file store, but according to my reading of the docs, I would not be able

[2022-08-07 19:25] martindurant commented on #1018
Good point. There's no principled reason that ZipFileSystem should be read-only, except that writing would be a terrible idea on a key-value storage (every update would need to rewrite the file). However, it'd work fine for local, in-memory or cached-to-remote files.

[2022-08-07 19:27] martindurant commented on #1018
You can try!
[code]

[2022-08-08 07:32] madsbk commented on #962
No worries @michael-sutherland, it is always good to discuss design decisions :)

I am not sure that converting Dask Arrays to a local `ndarray` seamlessly is a good idea. The data of a Dask Arrays is often  distributed between multiple machines so gathering all data to a single local `ndarray` is very expensive in terms of memory usage and performance.
In most cases, I think it is more desiable t

[2022-08-08 17:25] martindurant commented on #1018
https://github.com/fsspec/filesystem_spec/pull/1017

[2022-08-08 19:21] jakirkham commented on #1018
Just a note, @oeway, think we could just test for `io.IOBase` then. Am guessing this is a 4-5 line change here. Namely check type, use it, protect against closing for user-provided files (as presumably users would want to handle closing).

[2022-08-15 16:24] tasansal commented on #1105
We also saw this issue because we had our internal "metadata" group.
Currently, we limited the upper bound for the zarr dependency to <2.12 until there is a solution.

What are the reserved prefixes for the new v3 spec that users should be aware of?
Maybe this also warrants a documentation piece as well?

[2022-08-15 16:27] tasansal commented on #720
@joshmoore

I have a question regarding this. So when we consolidate metadata with `/` dimension separator, it ends up writing the metadata file as `zmetadata` instead of `.zmetadata`; and the `open_consolidated` fails by default.

We can alleviate this by consolidating metadata with a store that still has `.` as separator; or by providing the `zmetadata` to `open_consolidated`. However, either so

[2022-08-15 22:55] jakirkham commented on #1104
AIUI PR ( https://github.com/zarr-developers/zarr-python/pull/534 ) was exploring the [`concurrent.futures.Executor`]( https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.Executor ) approach

[2022-08-16 15:45] grlee77 commented on #1105
Yes, I can make a PR to allow names like `metabolite`. The intention was not to prevent these, so I think we just need to fix it in the next patch release.

[2022-08-22 13:48] jstriebel commented on #877
Please note that a sharding proposal is now formalized as a [Zarr Enhancement Proposal, ZEP 2](https://zarr.dev/zeps/draft/ZEP0002.html). The basic sharding concept and the binary representation is the same as proposed in #876, however it is formalized as a storage transformer for Zarr v3.

Further feedback on this concrete is very welcome! Either
* on the abstract specification as comments on PR

[2022-08-24 16:27] valeriupredoi opened #1113 "Expose chunk and/or slice information (byte offset and size) to the API and make it available to the user"
Hey guys, first off apologies if this issue may be a duplicate of another (I did a cursory check and didn't really find any to fit the bill proper), and also if the issue should live in a Discussions item or elsewhere, feel free to move it :smiley:

I was wondering if we can have some convenience functionality part of the API for the user to be able to extract information about chunks and/or arbit

[2022-08-27 19:11] zndr27 commented on #1105
Just wanted to check if your pull request has been accepted. When is the next patch release supposed to happen?

[2022-09-01 16:36] jakirkham opened #1118 "Adding GitHub release publishing step (when tagging)"
One of the missing pieces from our automation now is that we don't make release (with notes) when a tag is made. This GitHub Action might help us fill that gap

https://github.com/marketplace/actions/github-create-tag-release

cc @joshmoore

[2022-09-02 08:09] joshmoore commented on #1118
ah, true. https://github.com/zarr-developers/zarr-python/pull/1119 is something of an alternative proposal. If we go with "github-create-tag-release" then we likely _shouldn't_ encourage people to create releases on GitHub and instead just tags.

[2022-09-04 15:59] tasansal opened #1121 "`FSStore` not handling `.zmetadata` correctly when `dimension_separator` is set to `/` at store level."
### Zarr version

v2.12.0

### Numcodecs version

0.10.2

### Python Version

3.10

### Operating System

Linux

### Installation

using pip into virtual environment

### Description

When creating an `FSStore` with dimension separator `/` the `.zmetadata` file also gets renamed to `/zmetadata`.
I have tested this on Google Cloud Storage.

This causes inconsistent behavior in local vs. cloud store

[2022-09-06 14:41] joshmoore commented on #720
I think so, yes. This sounds very much like a straight-forward bug (thanks for opening as #1121). Somewhere there's a check for `"."` which needs to be made smarter.

[2022-09-06 16:35] grlee77 commented on #1105
Hi @zndr27, thanks for checking in. I just made a PR with a fix today. I think a v2.13 release is planned to happen fairly soon, so hopefully it will make it in for that.

[2022-09-06 17:19] tasansal commented on #1084
made a pr #1124 @joshmoore

[2022-09-06 19:38] joshmoore commented on #1084
Thanks, @tasansal!

[2022-09-06 20:10] #1084 closed

[2022-09-08 05:19] TomasPuverle commented on #691
Hi, I wanted to check back in to see if anyone has any suggestions/workarounds for this problem.  I am seeing this happening with other encoder classes, too.
Thank you.

[2022-09-08 06:21] joshmoore commented on #691
Do you mean https://github.com/zarr-developers/zarr-python/issues/1090#issuecomment-1190314533? If so, I guess that makes sense. Is that usage not currently possible for you? Can you share your code?

[2022-09-08 06:53] joshmoore commented on #1037
Thanks all. Rolling @malmans2's #1066 into 2.13 but leaving this open for the deprecation cycle.

[2022-09-08 06:55] joshmoore opened #1125 "Change non-string attribute key from warning to error"
see: #1037 #1066

[code]

[2022-09-08 06:55] joshmoore commented on #1037
Strike that see #1125

[2022-09-08 06:55] #1037 closed

[2022-09-08 07:09] #1039 closed

[2022-09-08 07:10] #1105 closed

[2022-09-09 08:23] alejoe91 opened #1129 "Memory leak when saving in parallel"
### Zarr version

v2.12.0

### Numcodecs version

v0.10.2

### Python Version

3.9.13

### Operating System

Linux

### Installation

using pip (in a conda environment)

### Description

Hi Zarr team!

We use the `ProcessPoolExecutor` to distribute writing to different Zarr chunks over different jobs (see [here](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/job_t

[2022-09-09 08:40] joshmoore commented on #1129
Thanks for the write up, @alejoe91. I don't see anything immediately surprising in https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/core_tools.py#L635-L709 which definitely makes me worry. Could you help us understand what zarr-level calls are being made in a typical run?

[2022-09-09 09:46] alejoe91 commented on #1129
@joshmoore sure, here is how the zarr calls are distributed:

1. The `save()` function is routed to this [`_save()`](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/core/baserecording.py#L245-L299) function which is specific to Zarr. Here the zarr file is created and several groups and small datasets are added  to it.
2. The [`write_traces_to_zarr`](https://github.com/S

[2022-09-11 05:19] h20200051 commented on #1077
@joshmoore @Saransh-cpp I would like to work in this issue.Kindly assign me

[2022-09-11 22:46] MSanKeys963 commented on #1077
I think this has already been completed @h20200051. Apologies if you were misguided.

Let me know if you want to work on another issue, and I'm happy to help you.
Closing this now.

[2022-09-11 22:46] #1077 closed

[2022-09-12 07:45] h20200051 commented on #1113
@valeriupredoi I would like to work under this issue.Kindly assign me

[2022-09-12 07:50] h20200051 commented on #1077
Respected sir,
I would like to work under the issue of expose chunk and or slice
imformation (byte offse) and size to tje api and make it available to the
user #1113.Kindly assign me this

Github id:h20200051

On Mon, 12 Sept 2022, 04:16 Sanket Verma, ***@***.***> wrote:

[2022-09-12 10:50] MSanKeys963 commented on #1113
Thanks for taking this up @h20200051. Let me know if you need any help with this.

[2022-09-12 10:54] valeriupredoi commented on #1113
cheers for the initiative @h20200051 :beer: I am not a Zarr dev so I can't assign contributors, but I see you already got assigned :+1: Let me know how I can help, should anything be needed :rocket:

[2022-09-21 17:00] AhmetCanSolak opened #1140 "Possible feature request on saving array mechanism"
Hello all,

As far as I understand, current zarr-python implementation is overwriting all the chunks by default  when you have an array that is already saved, had some changes and will be saved again. (correct me if I am wrong but here what  I am looking it: https://github.com/zarr-developers/zarr-python/blob/505810c44108328ec5732ad8460057f016994fd3/zarr/convenience.py#L170
 for example). In some

[2022-09-21 17:30] grlee77 opened #1141 "zarr v3 arrays with consolidated metadata still require path"
### Zarr version

v2.13.a2

### Numcodecs version

0.10.0

### Python Version

3.9

### Operating System

linux

### Installation

pip editable install

### Description

In #1085, we allowed creation of Zarr-v3 arrays without explicitly requiring path. In revisiting the downstream xarray tests in https://github.com/pydata/xarray/pull/6475, I found that path=None still needs to be fixed for the cas

[2022-09-21 18:15] joshmoore commented on #1140
Thanks, @AhmetCanSolak. Cross-linking here as during the community meeting: https://github.com/zarr-developers/zarr-python/issues/1017

[2022-09-22 08:07] #1141 closed

[2022-09-22 16:39] alejoe91 commented on #1129
Hi @joshmoore

Sorry for the delay in getting back to you.

I tested on my local machine and it seems that RAM usage is under control and it doesn't grow as reported here.

I initially encountered the issue using a cloud resource from GCP, so that might be the issue.
I'll repeat the test there to see if that architecture is triggering the abnormal RAM consumption.

Here is a log which prints the s

[2022-09-27 02:58] showkeyjar opened #1144 "read hdfs error"
### Zarr version

v2.13.1

### Numcodecs version

v0.10.2

### Python Version

3.8.5

### Operating System

Linux

### Installation

pip install zarr

### Description

zarr read hdfs throw error:

[code]

### Steps to reproduce

[code]

then it throws error.

### Additional output

_No response_

[2022-09-27 17:16] jhamman opened #1147 "Tag v.2.13.2 breaks setuptools_scm"
### Zarr version

v.2.13.2

### Numcodecs version

0.10.2

### Python Version

3.9.13

### Operating System

Mac (M1)

### Installation

tried using conda and venv

### Description

The most recent tag [v.2.13.2](https://github.com/zarr-developers/zarr-python/releases/tag/v.2.13.2) has an extra `.` after the `v`. This seems to be breaking `setuptools_scm`'s automatic version extraction:

<details>

[2022-09-27 17:54] joshmoore commented on #1147
Thanks, @jhamman. Guess my frustrations with fighting the conda-forge tests are showing! 🤦🏽

I've retracted the previous release (and deleted the tag) and published https://github.com/zarr-developers/zarr-python/releases/tag/v2.13.2

Hopefully things will now go green.

[2022-09-27 17:54] #1147 closed

[2022-09-27 18:00] jhamman commented on #1147
Thanks @joshmoore!

[2022-09-27 18:04] joshmoore opened #1148 "Updated pypa publish action"
From the GHA:

[2022-09-27 18:38] jakirkham commented on #1148
Wonder if there is a way to link to latest

[2022-09-27 19:08] joshmoore commented on #1148
May just need "main"

[2022-09-27 19:21] jakirkham commented on #1148
Yeah think that is what is being called `unstable/v1` (appears to be their default branch anyway)

[2022-09-28 18:22] tasansal opened #1150 "Azure (`adlfs`) stores raise `KeyError` when chunk is all fill value (chunk file doesn't exist)"
### Zarr version

v2.13.2

### Numcodecs version

v0.10.2

### Python Version

3.10

### Operating System

Linux/Windows

### Installation

using pip into virtual environment

### Description

When using `zarr` and `adlfs`, while reading, the missing chunks (fill value filled) raise a key error.

This doesn't happen in Google Cloud or AWS using `gcsfs` or `s3fs`.

### Steps to reproduce

[code]
Th

[2022-09-28 19:37] ErlendHaa commented on #1150
Hi,

The root cause lies in adlfs, this patch addresses it https://github.com/fsspec/adlfs/pull/350

[2022-09-28 20:34] tasansal commented on #1150
Should we close this then, or leave it to be tested when `adlfs` fix is released? @zarrdevelopers

[2022-09-29 02:24] jakirkham commented on #1150
cc @martindurant (for awareness)

[2022-09-29 15:24] jakirkham commented on #1150
Thanks Martin! Do you also have thoughts on PR ( https://github.com/fsspec/adlfs/pull/350 )?

[2022-09-29 15:53] martindurant commented on #1150
I can see it's a little painful, but I think adlfs supporting on_error is probably a good things. We can consider separately whether fsspec's invocation should be robust to missing keys.

[2022-09-29 16:03] joshua-gould opened #1152 "Error converting hdf5 file to zarr"
### Zarr version

2.13.2

### Numcodecs version

0.10.2

### Python Version

3.10.4

### Operating System

Mac

### Installation

pip

### Description

 TypeError: Cannot compare structured or void to non-void arrays when converting h5 file to zarr

### Steps to reproduce

[code]

### Additional output

_No response_

[2022-10-01 20:00] jrs65 commented on #843
@rabernat @cgohlke this issue has just bitten me too. I've taken a stab a fixing it in PR #1154, which is successful from a performance perspective but I'm very happy to accept feedback and make changes if you can think of better ways to fix it.

[2022-10-04 14:46] JamiePringle opened #1155 "zarr.save() fails with object arrays"
### Zarr version

2.8.1

### Numcodecs version

0.9.1

### Python Version

3.9

### Operating System

Linux

### Installation

conda

### Description

If I make a Numpy object array, and save it with zarr.save(), the save fails because the object_codec has not been defined for the array when it is created in the zarr store. I am not sure if this is to become a documentation bug (i.e. don't save ob

[2022-10-07 13:45] rabernat commented on #424
Now that we have the `meta_array` option (see https://github.com/zarr-developers/zarr-python/pull/934), which allows loading of data to different array types, it should be more straightforward to implement some sort of sparse support (i.e. `meta_array=sparse.SparseArray`). We would just need to pick an on-disk storage format, which could potentially be implemented as a numcodecs codec.

Perhaps no

[2022-10-07 15:32] #843 closed

[2022-10-07 15:59] jakirkham commented on #424
cc @ivirshup (who has also expressed interest in some form of sparse support in Zarr)

[2022-10-08 04:34] hsadia538 commented on #81
Hi @alimanfoo I want to work on this issue. Can you give me some pointers as to where I should start from. Thanks

[2022-10-09 13:52] joshmoore commented on #1155
Hi @JamiePringle. Was there an example you followed to create an object array with `dtype=object` but _without_ `object_codec` defined? If so, that sounds like it would be a doc bug.

Otherwise, https://zarr.readthedocs.io/en/stable/tutorial.html#object-arrays shows additionally adding one of a few types of codecs to perform the mapping and the error is saying that that field is missing.

[2022-10-09 14:06] joshmoore commented on #1152
Hi @joshua-gould. Thanks for the test file. For those reading along:

[code]

[code]

The error is coming from the `fill_value` of `(b'', 0, 0., 0., 0)` for the `dtype`:

[code]

in the obs array. A possible workaround would be to read the HDF5 with anndata and then use its [`write_zarr`](https://anndata.readthedocs.io/en/latest/generated/anndata.AnnData.write_zarr.html?highlight=zarr) method whic

[2022-10-09 14:10] joshmoore opened #1161 "V3 Consolidated Metadata"
follow on to: https://github.com/zarr-developers/zarr-python/pull/1142
background reading: https://github.com/zarr-developers/zarr-specs/issues/136

I would like to propose that we remove the machinery for consolidated metadata in the current V3 implementation in favor of an upcoming specification. This would include:

 - dropping `zarr._storage.v3.ConsolidatedMetadataStoreV3`
 - disallow version=

[2022-10-10 01:11] GbotemiB commented on #514
Hi @joshmoore, I think this issue has been resolved on issue #996. you can as well close the issue.

[2022-10-10 06:54] jakirkham commented on #514
That PR unfortunately appears to be closed (as opposed to merge). Contributions here would still be welcome 🙂

[2022-10-10 16:42] JamiePringle commented on #1155
There is no example; I was using the documentation for the save() convenience function. I can save the object array by hand in the usual way specifying the object_codec.  However, the save() convenience function does not take the object_codec  kwarg, likely because it would mess with the rest of the syntax where arrays to be saved are specified with kwargs.  The following does not work:
[code]

I

[2022-10-11 00:52] GbotemiB opened #1164 "Year of Copyrights is not Up-to-Date"
The copyrights year on the docs is till 2018 while already in 2022

[2022-10-11 11:13] baimamboukar commented on #1164
Hello @GbotemiB !
I am an outreachy applicant! and would like to work on this...
Can you please assign this task to me ?

[2022-10-11 12:07] DON-BRAN opened #1167 "Add a link to the installation section on the tutorial page."
The installation section is found [here](https://zarr.readthedocs.io/en/stable/index.html#installation) and is not directly accessible from the [tutorial page](https://zarr.readthedocs.io/en/stable/tutorial.html). Trying to run the samples fail with an error because of no Zarr installation.

[code]

[2022-10-11 12:47] joshmoore commented on #1167
Thanks, @DON-BRAN. Maybe it would even be a good idea to move it into its own file so that it shows up in the left-hand navigation menu.

[2022-10-11 13:08] DON-BRAN opened #1169 "Update _Forking_the_repository_ section on the contributing page"
The code snippet in [_Forking_the_repository_](https://zarr.readthedocs.io/en/stable/contributing.html#forking-the-repository) section on the [contributing page](https://zarr.readthedocs.io/en/stable/contributing.html#)

[code]

should be

[code]

[2022-10-11 13:13] joshmoore commented on #1169
Thanks, @DON-BRAN. I remember there being a PR recently that changed this, but I'm not sure which one it is. Feel free to open another if you'd like.

[2022-10-11 13:29] joshmoore commented on #1167
I wasn't sure. If it's _always_ visible on the side, then maybe that's enough. What do you think?

[2022-10-11 13:35] DON-BRAN commented on #1167
You're right,
If it's always visible by the side, then that's enough.

[2022-10-11 13:57] joshmoore commented on #1169
Thanks. :)

[2022-10-11 14:00] #1169 closed

[2022-10-11 14:37] DON-BRAN opened #1172 "documentation failed to build locally"
Using the command

[code]

throws error

[code]

setting `language = "en"` in `conf.py` solves the issue.

Will it be alright to set the default language code to "en" for the [zarr documentation](https://zarr.readthedocs.io/en/latest/contributing.html#documentation)?

[2022-10-11 14:43] joshmoore commented on #1172
I'd think so, @DON-BRAN. I've never seen this before, but maybe something has changed in more recent Sphinx versions.

[2022-10-11 14:46] DON-BRAN commented on #1172
@joshmoore will it be helpful to provide more logs for further investigation on this behavior?

[2022-10-11 14:49] #1167 closed

[2022-10-11 15:02] joshmoore commented on #1172
I don't think so. If manually setting to `en` works, then that makes sense.

see: https://github.com/sphinx-doc/sphinx/issues/10474

[2022-10-11 15:10] DON-BRAN commented on #1172
I will update the conf.py to have `language = "en"`

[2022-10-11 16:03] GbotemiB commented on #1172
@DON-BRAN did setting the language = 'en' resolved the issue?

[2022-10-11 16:36] DON-BRAN commented on #1172
yes @GbotemiB it did

[2022-10-11 17:25] #1172 closed

[2022-10-12 09:29] DON-BRAN opened #1176 "Update README.md link to _installation documentation_."
[README.md](https://github.com/zarr-developers/zarr-python#readme) installation documentation points to https://zarr.readthedocs.io/en/stable/#installation.
I was wondering if it needed to point to the updated documentation at https://zarr.readthedocs.io/en/latest/installation.html.

Also the other links on the [README.md](https://github.com/zarr-developers/zarr-python#readme) page point to the _s

[2022-10-12 09:48] DON-BRAN commented on #1176
@joshmoore will it be alright to change the other links pointing to the stable branch to point to the latest branch. For example
https://zarr.readthedocs.io/en/stable/tutorial.html#creating-an-array to https://zarr.readthedocs.io/en/latest/tutorial.html#creating-an-array

[2022-10-12 18:28] joshmoore commented on #1176
Keep everything on 'stable'. As soon as we release your previous changes it'll get updated.

[2022-10-12 18:45] I-am-Emmanuel commented on #1125
It will be my pleasure to work on this issue.

[2022-10-12 20:14] julianavmgiusti commented on #1118
Hi, @MSanKeys963  ! I'm an Outreachy applicant, can I claim to contribute to this issue?

[2022-10-12 22:53] MSanKeys963 commented on #1118
Hi @julianavmgiusti.
Yeah, sure! Please go ahead.
Let us know if you need any help resolving this issue.

[2022-10-13 06:41] h20200051 commented on #1113
@valeriupredoi  @MSanKeys963 Hello guys  i have started working on the issue.I have  cloned the repository.I have a doubt where i will get the link to download the setup in my local machine for running the code.I apolozise for starting the issue late

[2022-10-13 10:20] DON-BRAN opened #1180 "Add License to [Zarr documentation](https://zarr.readthedocs.io/)"
I think it would be good to have the [LICENSE](https://github.com/zarr-developers/zarr-python/blob/main/LICENSE) added as a page on the [documentation](https://zarr.readthedocs.io/). So it can appear on the side panel.

[2022-10-13 10:27] joshmoore commented on #1180
:+1:

[2022-10-13 11:02] #1176 closed

[2022-10-13 11:14] DON-BRAN opened #1181 "Duplicate label spec_v2 in /docs/spec/v3.rst and /docs/spec/v2.rst"
Command
[code]
ends in an error.

I think the label in /docs/spec/v3.rst should be
[code]
and not
[code]

[2022-10-13 11:15] h20200051 commented on #1113
@MSanKeys963 @valeriupredoi Hello guys i have been working on the issue.I have installed zarr on my local machine and i would like to ask what are the other setups I need to download to fix the issue

[2022-10-13 11:15] joshmoore commented on #1181
good catch! https://github.com/zarr-developers/zarr-python/pull/1173/files#diff-be95f06c66dc4e83649730460a2a021b632924a9b39ded2296e1e2eed9de5bb3R1

[2022-10-13 12:34] I-am-Emmanuel commented on #1125
I recently completed this project. Waiting to be merged

[2022-10-13 13:26] MSanKeys963 commented on #1125
Hi @I-am-Emmanuel.
After going through the issue, I realised this issue is a breaking change and needs to be handled by the maintainers for the Zarr python only.
I think I added the `good-first-issue` label accidentally, and I sincerely apologise for that.

Can you please work on another issue? If you can't find one, I'm happy to help you find one.

[2022-10-13 13:30] I-am-Emmanuel commented on #1125
Alright

[2022-10-13 15:12] jakirkham commented on #828
Sure, please do Emmanuel 🙂

[2022-10-13 15:12] jakirkham commented on #828
cc @MSanKeys963 @joshmoore (for awareness)

[2022-10-13 17:41] julianavmgiusti commented on #1118
@MSanKeys963  Thank you very much!

[2022-10-13 21:38] KarlieKKY commented on #828
Hello, i'm also an outcheachy applicant, would you mind if we work on this issue together?

[2022-10-13 22:12] Azaya89 commented on #917
Hi @joshmoore , can I work on this issue?

[2022-10-13 23:09] jakirkham commented on #828
Thanks for your interest! 😀

Emmanuel opened PR ( https://github.com/zarr-developers/zarr-python/pull/1184 ) already.

Would suggest picking a different issue 🙂

[2022-10-13 23:15] MSanKeys963 commented on #917
Hi @Azaya89.
Yeah, sure. Please go ahead.

[2022-10-14 00:31] GbotemiB opened #1187 "Pytest Error when running TestSuite due to MsgPack"
I think the instruction to install msgpack should be included in the installation docs when trying to install zarr from source code for development purpose.

[2022-10-14 06:27] joshmoore commented on #1187
Thanks, @GbotemiB. It certainly seems so! However, I do wonder if that's only an issue on Windows, and if so, if we can do something to make it not the case.

[2022-10-14 07:49] GbotemiB commented on #1187
It is actually an issue in linux systems as msgpack is not pre installed

[2022-10-14 10:42] #1180 closed

[2022-10-14 10:42] #1181 closed

[2022-10-14 11:10] Azaya89 commented on #917
Hi @MSanKeys963, when i do` git fetch upstream` it tells me permission denied. How do i get around that?

[2022-10-14 11:22] joshmoore commented on #917
What does the following command show?

[code]

[2022-10-14 11:29] Azaya89 commented on #917
It shows both my local cloned directory and the upstream. Anyway, I have solved the issue. I had to remove and re-add the upstream https and got it to work now.

[2022-10-14 14:17] zeelyha commented on #81
Hi @joshmoore @alimanfoo Is this issue still open? I am an Outreachy applicant and I would like to work on it.

[2022-10-14 15:57] joshmoore commented on #81
As far is I know, no one has started working on it. I don't see any issue with both of you taking a look. Perhaps one could write tests and one the implementation. Looking for those locations where Group.array(, overwrite=True) is used:

https://github.com/zarr-developers/zarr-python/blob/main/zarr/tests/test_hierarchy.py#L478

[2022-10-14 16:58] hsadia538 commented on #81
@zeelyha You can take up the task.

[2022-10-14 17:15] zeelyha commented on #81
@hsadia538 Alright then, no problem.

[2022-10-16 20:40] GbotemiB commented on #956
Hi @joshmoore, Can i take this?

if yes, where on the docs page can the link back to https://zarr.dev be?

[2022-10-16 20:53] GbotemiB commented on #804
Hi @joshmoore and @MSanKeys963, I want to ask if this issue is still relevant. If yes, I will like to work on this

[2022-10-17 06:57] joshmoore commented on #804
Hi @GbotemiB. I would think this would fall under #1185 as well.

[2022-10-17 09:59] drentawc opened #1195 "Issues converting HDF5/NetCDF file to Zarr"
### Zarr version

2.13.3

### Numcodecs version

0.10.2

### Python Version

3.10.4

### Operating System

Mac

### Installation

Using Conda

### Description

I am trying to convert HDF files to Zarr in order to use them with NetCDF-Java as it currently only supports the Zarr v2 spec. I have previously used xarray to do this type of conversion when working with Python code but need to specificall

[2022-10-17 10:56] rabernat commented on #1195
If your HDF files are NetCDF-compatible, I strongly recommend going through Xarray for the conversion. Xarray handles serialization of different netCDF data types very carefully.

[code]

More info: https://docs.xarray.dev/en/stable/user-guide/io.html

[2022-10-17 13:15] drentawc commented on #1195
Thank you for the reply, I am aware of the xarray implementation and have used that with Python code before but was specifically trying to use the Zarr python package as NetCDF-Java only seems to support the Zarr package for some reason. I have thus asked in their github branch to see if they know of some way to use xarray with NetCDF-Java or if they have converted NetCDF files using Zarr before b

[2022-10-17 15:00] rabernat commented on #1195
I'm afraid don't understand your comment, specifically this part:

What does it meant that "NetCDF-Java only seems to support the Zarr package"? Do you mean that NetCDF-Java cannot read Zarr files written by Xarray? If so, can you link to a specific issue where that is documented?

Zarr and NetCDF are both file formats. You should be able to write files in either format from one language (e.g. Pyt

[2022-10-17 19:18] caviere commented on #188
Hi I'm Weddy, an outreachy applicant. I would like to work on this issue.

[2022-10-17 19:22] jakirkham commented on #188
Hi Weddy, that would be great! 😄

Would recommend trying to write this in terms of the [`visit` methods]( https://zarr.readthedocs.io/en/stable/api/hierarchy.html?highlight=visit#zarr.hierarchy.Group.visit ) and check for keys that match (possibly using [`re`]( https://docs.python.org/3/library/re.html )).

[2022-10-17 19:24] caviere commented on #188
Got it! Thank you.

[2022-10-17 21:08] #1187 closed

[2022-10-18 06:26] jakirkham commented on #777
Unfortunately have started seeing this with Numcodecs. Tried deleting the fork and reforking, but the issue still occurs

https://github.com/jakirkham/numcodecs/pull/1

[2022-10-18 06:38] jakirkham commented on #777
Ok tried deleting the fork again and reforking. It seems to be working. Will keep an eye on it.

Sadly this closed and orphaned existing PRs from my repo.

We may want to revisit dependabot support given this issue remains unaddressed (and may dissuade new contributors from engaging).

[2022-10-18 09:37] GbotemiB opened #1199 "Setup.py missing from repo"
![image](https://user-images.githubusercontent.com/48842684/196394376-82ed8177-287c-4d37-b3c8-296a19e90f92.png)

![image](https://user-images.githubusercontent.com/48842684/196394565-e756377a-a0b2-4e02-8657-b91f47cc311c.png)

It seems setup.py is missing from the main repo @joshmoore and @MSanKeys963

[2022-10-18 09:41] jakirkham commented on #1199
Yeah PR ( https://github.com/zarr-developers/zarr-python/pull/1158 ) merged a couple days ago changed this. Maybe there are fixes needed?

cc @Saransh-cpp

[2022-10-18 09:44] Saransh-cpp commented on #1199
The latest documentation outlines the correct way to install `Zarr` - https://zarr.readthedocs.io/en/latest/installation.html#installation. The following should work -

[code]

Note: Commands like `python setup.py install` should not be used as they are unmaintained. They are now usually referred to as "legacy" commands.
Tip: Always look at the "latest" or "dev" documentation if you are installing

[2022-10-18 09:49] #1199 closed

[2022-10-18 10:48] jakirkham commented on #1199
@GbotemiB, if you are still seeing this in the docs somewhere, a PR to update them would be welcome 🙂

[2022-10-18 11:56] GbotemiB commented on #1199
@Saransh-cpp is right. It is only appearing on the stable branch.

[2022-10-18 12:09] oguejioforO commented on #632
@joshmoore, I am Oguejiofor.O.Esther  an Outreachy applicant, will like to work on this issue

[2022-10-18 12:48] GbotemiB commented on #1199
I think the [docs](https://zarr.readthedocs.io/) links on the [README](https://github.com/zarr-developers/zarr-python/blob/main/README.md) should link to the [latest](https://zarr.readthedocs.io/en/latest/installation.html#installation) docs

[2022-10-18 13:18] julianavmgiusti commented on #1118
@joshmoore and @MSanKeys963 I believe that to be able to move forward, I would need to create a file .github/release.yml to create the release.yml file in the .github directory. I would like to know if it is the way or am I mistaken?

[2022-10-18 19:23] jakirkham commented on #1199
Yeah not sure. The README is capturing first time users that are likely on a stable release (just trying things out). That link may make sense for them.

[2022-10-18 19:33] lemwaizz commented on #1155
@joshmoore and @MSanKeys963 I am an outreachy aplicant and would like to contribute to this issue.

[2022-10-18 19:40] jakirkham commented on #1118
Think most of what we need is [here]( https://github.com/zarr-developers/zarr-python/blob/main/.github/workflows/releases.yml ). Basically this is discussing adding one more step to that workflow. Does that make sense?

[2022-10-18 19:59] lemwaizz commented on #1155
@joshmoore and @MSanKeys963 I am an outreachy applicant.I'd like to try and contribute to this issue.

[2022-10-19 09:40] Saransh-cpp commented on #1148
There is a way to get the latest stable release, in fact, `dependabot` will do this for us 😉 -

https://github.com/zarr-developers/zarr-python/blob/daad2fa86a32c3ed10871f6ba191ed3356b29e91/.github/dependabot.yml#L8-L11

We need to pin all the actions to a particular version, and then `dependabot` will update them weekly. I will create a PR for this!

[2022-10-19 10:39] GbotemiB commented on #1118
@julianavmgiusti, `.github/release.yml` file is already in the repo. I think you just need to include the syntax for 'github-tag-release'

[2022-10-19 18:52] #1148 closed

[2022-10-19 19:56] marynaggita commented on #57
@joshmoore  i am Mary, an outreachy candidate. Iam interested in this issue.

[2022-10-19 19:58] marynaggita commented on #57
Kindly provide pointers which i can look at

[2022-10-19 23:38] jakirkham commented on #1148
This is fantastic! Thank you 😄

[2022-10-20 02:57] steph237 commented on #1118
greeting @MSanKeys963 I will like to know if I can work on  this issues as well

[2022-10-20 06:01] jakirkham commented on #829
Another option somewhat similar to towncrier is [scriv]( https://scriv.readthedocs.io/en/latest/ )

[2022-10-20 11:46] Jaykold commented on #1017
I found out that if you put every item in its own individual chunk, you will get the desired output after resizing.

**SAMPLE**

import zarr
import numpy as np

z = zarr.open('data', mode='w', shape=(4, 6), chunks=(1, 1), dtype='i4')
z[:] = 1

print("Original zarr array with shape (4,6):")
print(z[:])

print("\nAfter resizing shape to (1,1):")
z.resize((1,1))
print(z[:])

print("\nAfter resizing s

[2022-10-20 23:15] joshmoore commented on #57
@marynaggita: the `listdir()` method that is being referred to can be found here: https://github.com/zarr-developers/zarr-python/blob/main/zarr/storage.py#L214-L220

It uses `_listdir_from_keys()` method here:
https://github.com/zarr-developers/zarr-python/blob/main/zarr/_storage/store.py#L409

Maybe the first thing to do is to find a test that uses the `listdir` method.

[2022-10-21 05:28] steph237 commented on #514
Hi @joshmoore  and @MSanKeys963 I am an outreachy applicant and I will like to work on this issue

[2022-10-21 06:12] jakirkham commented on #514
Hi Stephanie, thanks for offering to help! 🙏

Think Emmanuel already picked this up with PR ( https://github.com/zarr-developers/zarr-python/pull/1163 ), but please feel free to grab another issue.

Thanks again! 🙂

[2022-10-21 06:22] jakirkham commented on #1118
Hi Stephanie! 👋 Thanks for the offer to help here! 🙏

Juliana picked this up with PR ( https://github.com/zarr-developers/zarr-python/pull/1204 ) recently. Sorry that didn't show up in the history of this issue previously (have updated it).

That said, please feel free to pick up another issue. Would be great to have your help here as well 🙂

[2022-10-21 06:41] steph237 commented on #1118
thank you @jakirkham  I have gone through the issues and I am finding it difficult to pick one because of the the lack of labels

[2022-10-21 12:17] steph237 commented on #956
Hi @joshmoore and @MSanKeys963 can I be assigned to this issue ?

[2022-10-21 12:21] DON-BRAN opened #1208 "Enhance tutorial by adding Prerequisites, Understanding the example code, What is an N-dimensional array?"
Going through the [Zarr tutorial](https://zarr.readthedocs.io/en/stable/tutorial.html), I was thinking it will be nice to have a
- Prerequisites section: Which tells the user the basic skills necessary for using Zarr, the dependencies needed to use.
- Understanding the example code: Which contains guidelines on how to read the code snippets in the examples
- What is an N-dimensional array: Which c

[2022-10-21 16:04] jakirkham commented on #956
Yep, go for it Stephanie! 😄

[2022-10-22 01:11] caviere commented on #188
Hi @joshmoore @MSanKeys963 @jakirkham I just wanted to give you an update. Apologies that i did not tag @joshmoore and @MSanKeys963 while requesting to be assigned the issue earlier. Please assign me the issue. I am currently trying to incorporate both re.search and re.findall together in the group class that I've created. As of now my regex is printing none which I am trying to resolve. Thank you

[2022-10-22 01:26] caviere commented on #188
Hi @joshmoore @MSanKeys963 @jakirkham I just wanted to give you an update. Apologies that i did not tag joshmoore and MSanKeys963 while requesting to be assigned the issue earlier. I am currently trying to incorporate both re.search and re.findall together in the group class that I've created. As of now my regex is printing none which I am trying to resolve. Thank you

[2022-10-22 03:36] jakirkham commented on #188
@caviere, no worries. Have assigned you 🙂

Would encourage sending a PR with what you have (even if it is incomplete and has bugs). It's possible we can spot things and share tips that would save you some time 😉

[2022-10-22 07:25] DON-BRAN opened #1209 "Documentation fails to build locally"
Using the command
[code]
Fails with error
[code]

I think `isolated_build` has to enabled in the [tox file](https://github.com/zarr-developers/zarr-python/blob/main/tox.ini)

[2022-10-22 13:50] oguejioforO commented on #632
Hi Sanket Verma, I would like you to go through the line of code I wrote in
relation to structured arrays don't support datetime   #632 and give me
corrections concerning it. Attached below is a screenshot.
[image: array.png]

On Wed, Oct 19, 2022 at 1:15 PM Sanket Verma ***@***.***>
wrote:

[2022-10-23 10:48] caviere commented on #188
@jakirkham thank you. I've been able to make a small progress. The code is now printing the name of the groups. If it is okay with you, I'll send it on or before tuesday for your review, guidance and approval.

[2022-10-23 15:32] joshmoore opened #1211 "Re-use tox where possible from GHA workflows"
If the tox.ini file is going to be maintained, then existing workflows should make use of it.

e.g. see https://github.com/zarr-developers/zarr-python/pull/1210#issuecomment-1287771539 in which the `tox -e docs` target was not being tested anywhere.

[2022-10-23 16:05] steph237 commented on #956
Hello @jakirkham and @joshmoore I just included in the documentations the link to the official Zarr website. Here is the link to the PR https://github.com/zarr-developers/zarr-python/pull/1212 . Please let me know of any feedback

[2022-10-23 16:05] steph237 commented on #956
Hello @jakirkham and @joshmoore I just included in the documentations the link to the official Zarr website. Here is the link to the PR https://github.com/zarr-developers/zarr-python/pull/1212 . Please let me know of any feedback

[2022-10-23 16:06] steph237 commented on #956
Hello @jakirkham and @joshmoore I just included in the documentations the link to the official Zarr website. Here is the link to the PR https://github.com/zarr-developers/zarr-python/pull/1212 . Please let me know of any feedback

[2022-10-23 18:34] blackpandan commented on #917
Is this issue still open?

[2022-10-23 18:46] blackpandan commented on #785
@joshmoore hello i am an outreachy applicant,  i will be happy to help with this, please can i get a few pointers to get started?

[2022-10-23 18:54] steph237 opened #1215 "Tox build breaks with python 3.8"
In a scenario where the build fails, one need to change the
basepython = python3.8 to the latest version of python( for Ubuntu 22.04 ).
Find the Logs  here

action: docs, msg: getenv
cwd: /home/steph/zarr-python
cmd: /home/steph/zarr-python/.tox/docs/bin/pip install --no-binary=numcodecs -rrequirements_rtfd.txt
Traceback (most recent call last):
  File "/home/steph/zarr-python/.tox/docs/bin/pip",

[2022-10-23 22:50] MSanKeys963 commented on #1208
Hi @DON-BRAN.

Thanks for creating the issue. May I please know a bit more elaboration on the 1st and 2nd points?
Also, would you like to work on this?

[2022-10-23 22:57] MSanKeys963 commented on #1211
Hi @joshmoore. Is this issue good for `good-first-issue`?

[2022-10-24 06:06] joshmoore commented on #1215
Hi @steph237. This is a really odd error. It's happening in a part of Python that Zarr doesn't have any control over. Can you explain how you installed Python? Was it working previously?

If possible, you might want to set up a fresh environment and see if it's still happening.

[2022-10-24 06:06] joshmoore commented on #1211
Yeah, definitely.

[2022-10-24 06:09] joshmoore commented on #1195
My interpretation of that comment, @rabernat, was that netcdf-java is only reading files which are produced by zarr-python.